examples/marketing/hack_seo_reporting.json
{
  "name": "Semrush Weekly SEO Report",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Every Monday 6am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Semrush Domain Ranks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        220,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.semrush.com/?type=domain_ranks&key=PLACEHOLDER_API_KEY&domain=guesty.com&database=us",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "a3f8d2c1-9b4e-4f7a-8c6d-1e2f3a4b5c6d",
      "name": "Semrush Keyword Rankings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "https://api.semrush.com/?type=domain_organic&key=PLACEHOLDER_API_KEY&domain=guesty.com&database=us&display_limit=20",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "b5e7f3a2-1c8d-4e9b-a0f2-3d4e5f6a7b8c",
      "name": "Parse Domain Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ranksRaw = $('Semrush Domain Ranks').first().json.data;\nconst keywordsRaw = $('Semrush Keyword Rankings').first().json.data;\n\nconst rankLines = ranksRaw.trim().split('\\n');\nconst rankHeaders = rankLines[0].split(';');\nconst rankValues = rankLines[1] ? rankLines[1].split(';') : [];\n\nconst rankObj = {};\nrankHeaders.forEach((h, i) => { rankObj[h.trim()] = rankValues[i] ? rankValues[i].trim() : ''; });\n\nconst domainRank = rankObj['Rank'] || rankObj['rank'] || '';\nconst organicTraffic = rankObj['OrganicTraffic'] || rankObj['Organic Traffic'] || '';\nconst organicKeywords = rankObj['OrganicKeywords'] || rankObj['Organic Keywords'] || '';\n\nconst kwLines = keywordsRaw.trim().split('\\n');\nconst kwHeaders = kwLines[0].split(';');\n\nconst keywords = [];\nfor (let i = 1; i < kwLines.length; i++) {\n  if (!kwLines[i].trim()) continue;\n  const vals = kwLines[i].split(';');\n  const kwObj = {};\n  kwHeaders.forEach((h, j) => { kwObj[h.trim()] = vals[j] ? vals[j].trim() : ''; });\n  keywords.push({\n    keyword: kwObj['Keyword'] || '',\n    position: kwObj['Position'] || '',\n    searchVolume: kwObj['Search Volume'] || kwObj['Volume'] || ''\n  });\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    date: today,\n    domainRank: domainRank,\n    organicTraffic: organicTraffic,\n    organicKeywords: organicKeywords,\n    keywords: keywords\n  }\n}];"
      }
    },
    {
      "id": "c6d8e4b3-2f9a-4c0d-b1e3-4f5a6b7c8d9e",
      "name": "Read Previous Domain Rank",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SHEET_ID_HERE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Domain Metrics"
        },
        "range": "A:E",
        "filtersUI": {},
        "options": {
          "returnAllMatches": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LaWDjKMsqe74XASy",
          "name": "Google Sheets account 64"
        }
      }
    },
    {
      "id": "d7e9f5c4-3a0b-4d1e-c2f4-5a6b7c8d9e0f",
      "name": "Calculate Rank Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const metrics = $('Parse Domain Metrics').first().json;\nconst sheetRows = $input.all();\n\nlet previousRank = null;\nlet rankChange = 'N/A (first run)';\nlet rankChangeNum = 0;\n\nif (sheetRows && sheetRows.length > 0) {\n  for (let i = sheetRows.length - 1; i >= 0; i--) {\n    const row = sheetRows[i].json;\n    const rankVal = row['Domain Rank'] || row['domain_rank'] || row['DomainRank'];\n    if (rankVal && !isNaN(parseInt(rankVal))) {\n      previousRank = parseInt(rankVal);\n      break;\n    }\n  }\n}\n\nconst currentRank = parseInt(metrics.domainRank) || 0;\n\nif (previousRank !== null && currentRank > 0) {\n  rankChangeNum = previousRank - currentRank;\n  if (rankChangeNum > 0) {\n    rankChange = '+' + rankChangeNum + ' (improved)';\n  } else if (rankChangeNum < 0) {\n    rankChange = '' + rankChangeNum + ' (declined)';\n  } else {\n    rankChange = 'No change';\n  }\n}\n\nreturn [{\n  json: {\n    date: metrics.date,\n    domainRank: metrics.domainRank,\n    organicTraffic: metrics.organicTraffic,\n    organicKeywords: metrics.organicKeywords,\n    keywords: metrics.keywords,\n    previousRank: previousRank,\n    rankChange: rankChange,\n    rankChangeNum: rankChangeNum\n  }\n}];"
      }
    },
    {
      "id": "e8f0a6d5-4b1c-4e2f-d3a5-6b7c8d9e0f1a",
      "name": "Write Domain Metrics to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1320,
        120
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SHEET_ID_HERE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Domain Metrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.date }}",
            "Domain Rank": "={{ $json.domainRank }}",
            "Organic Traffic": "={{ $json.organicTraffic }}",
            "Organic Keywords": "={{ $json.organicKeywords }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LaWDjKMsqe74XASy",
          "name": "Google Sheets account 64"
        }
      }
    },
    {
      "id": "f9a1b7e6-5c2d-4f3a-e4b6-7c8d9e0f1a2b",
      "name": "Split Keywords",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1320,
        480
      ],
      "parameters": {
        "fieldToSplitOut": "keywords",
        "options": {}
      }
    },
    {
      "id": "a0b2c8f7-6d3e-4a4b-f5c7-8d9e0f1a2b3c",
      "name": "Write Keyword Rankings to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1540,
        480
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SHEET_ID_HERE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Keyword Rankings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Calculate Rank Change').first().json.date }}",
            "Keyword": "={{ $json.keywords.keyword }}",
            "Position": "={{ $json.keywords.position }}",
            "Search Volume": "={{ $json.keywords.searchVolume }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LaWDjKMsqe74XASy",
          "name": "Google Sheets account 64"
        }
      }
    },
    {
      "id": "b1c3d9a8-7e4f-4b5c-a6d8-9e0f1a2b3c4d",
      "name": "Build Slack Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('Calculate Rank Change').first().json;\nconst keywords = data.keywords || [];\n\nconst top5 = keywords\n  .filter(k => k.keyword && k.searchVolume)\n  .sort((a, b) => (parseInt(b.searchVolume) || 0) - (parseInt(a.searchVolume) || 0))\n  .slice(0, 5);\n\nconst kwLines = top5.map((k, i) =>\n  (i + 1) + '. *' + k.keyword + '* -- Pos: #' + k.position + ' | Vol: ' + Number(k.searchVolume).toLocaleString()\n).join('\\n');\n\nconst rankEmoji = data.rankChangeNum > 0 ? ':chart_with_upwards_trend:' : data.rankChangeNum < 0 ? ':chart_with_downwards_trend:' : ':left_right_arrow:';\n\nconst message = ':mag: *Guesty.com Weekly SEO Report -- ' + data.date + '*\\n\\n' +\n  '*Domain Overview*\\n' +\n  '- Domain Rank: *#' + data.domainRank + '* ' + rankEmoji + ' (' + data.rankChange + ' vs last week)\\n' +\n  '- Organic Traffic: *' + Number(data.organicTraffic).toLocaleString() + '*\\n' +\n  '- Organic Keywords: *' + Number(data.organicKeywords).toLocaleString() + '*\\n\\n' +\n  '*Top 5 Keywords by Search Volume*\\n' +\n  kwLines + '\\n\\n' +\n  '_Full data logged to Google Sheets_';\n\nreturn [{ json: { message: message } }];"
      }
    },
    {
      "id": "c2d4e0b9-8f5a-4c6d-b7e9-0f1a2b3c4d5e",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1540,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-seo"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "MkMAiC1ecfpYtIz1",
          "name": "Ron's Slack credentials"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 6am UTC": {
      "main": [
        [
          {
            "node": "Semrush Domain Ranks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semrush Domain Ranks": {
      "main": [
        [
          {
            "node": "Semrush Keyword Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semrush Keyword Rankings": {
      "main": [
        [
          {
            "node": "Parse Domain Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Domain Metrics": {
      "main": [
        [
          {
            "node": "Read Previous Domain Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Previous Domain Rank": {
      "main": [
        [
          {
            "node": "Calculate Rank Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Rank Change": {
      "main": [
        [
          {
            "node": "Write Domain Metrics to Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Keywords": {
      "main": [
        [
          {
            "node": "Write Keyword Rankings to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Summary": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}