examples/marketing/hack_hubspot_insights.json
{
  "nodes": [
    {
      "id": "a1f3c2e4-9b7d-4e6a-8c1f-3d2e5b4a7c9f",
      "name": "Every Day at 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b2e4d6f8-1a3c-4b5e-9d7f-2c4a6b8e0d1f",
      "name": "Query HubSpot Campaign Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName AS campaign_name,\n  COUNTIF(event_type = 'DELIVERED') AS emails_sent,\n  COUNTIF(event_type = 'OPEN') AS opens,\n  COUNTIF(event_type = 'CLICK') AS clicks,\n  COUNTIF(event_type = 'UNSUBSCRIBE') AS unsubscribes,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'), COUNTIF(event_type = 'DELIVERED')) * 100, 2) AS open_rate_pct,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), COUNTIF(event_type = 'OPEN')) * 100, 2) AS click_to_open_rate_pct\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 7 DAY)\n  AND campaignName IS NOT NULL\nGROUP BY campaignName\nORDER BY emails_sent DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "Cr2rXAGCh1K5pJop",
          "name": "Google Service Account n8n-marketing"
        }
      }
    },
    {
      "id": "c3f5e7a9-2b4d-4c6f-0e8a-3d5b7c9e1f2a",
      "name": "Aggregate Campaign Data for Prompt",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "campaigns",
        "include": "allFields"
      }
    },
    {
      "id": "d4a6f8b0-3c5e-4d7a-1f9b-4e6c8d0f2a3b",
      "name": "Generate Gemini Insight Summary",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "role": "model",
              "content": "You are a concise marketing analyst. When given email campaign data, you respond with exactly 3 bullet points. Each bullet is one sentence and includes specific numbers. No preamble, no extra text."
            },
            {
              "role": "user",
              "content": "=Here is HubSpot email campaign performance data for the past 7 days:\n\n{{ JSON.stringify($json.campaigns, null, 2) }}\n\nWrite exactly 3 bullet points:\n- Bullet 1: Top-performing campaign (highest open rate) with key stats\n- Bullet 2: Most underperforming campaign (lowest open rate, min 100 emails sent) with key stats\n- Bullet 3: One actionable insight based on the data patterns"
            }
          ]
        },
        "simplify": true,
        "options": {
          "maxOutputTokens": 400,
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "e5b7a9c1-4d6f-4e8b-2a0c-5f7d9e1a3b4c",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-insights"
        },
        "text": "=*:bar_chart: HubSpot Email Campaign Insights -- {{ $now.toFormat('MMMM d, yyyy') }}*\n\n{{ $json.content[0].text }}\n\n_Full metrics written to the Email Campaign Performance sheet._",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "MkMAiC1ecfpYtIz1",
          "name": "Ron's Slack credentials"
        }
      }
    },
    {
      "id": "f6c8b0d2-5e7a-4f9c-3b1d-6a8e0f2b4c5d",
      "name": "Split Campaign Rows",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        480
      ],
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      }
    },
    {
      "id": "a7d9c1e3-6f8b-4a0d-4c2e-7b9f1a3c5d6e",
      "name": "Write Metrics to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1340,
        480
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Email Campaign Performance"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign Name": {
              "__rl": true,
              "value": "={{ $json.campaign_name }}",
              "mode": "expression"
            },
            "Emails Sent": {
              "__rl": true,
              "value": "={{ $json.emails_sent }}",
              "mode": "expression"
            },
            "Opens": {
              "__rl": true,
              "value": "={{ $json.opens }}",
              "mode": "expression"
            },
            "Clicks": {
              "__rl": true,
              "value": "={{ $json.clicks }}",
              "mode": "expression"
            },
            "Unsubscribes": {
              "__rl": true,
              "value": "={{ $json.unsubscribes }}",
              "mode": "expression"
            },
            "Open Rate %": {
              "__rl": true,
              "value": "={{ $json.open_rate_pct }}",
              "mode": "expression"
            },
            "Click-to-Open Rate %": {
              "__rl": true,
              "value": "={{ $json.click_to_open_rate_pct }}",
              "mode": "expression"
            },
            "Date Run": {
              "__rl": true,
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "mode": "expression"
            }
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LaWDjKMsqe74XASy",
          "name": "Google Sheets account 64"
        }
      }
    }
  ],
  "connections": {
    "Every Day at 8am UTC": {
      "main": [
        [
          {
            "node": "Query HubSpot Campaign Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query HubSpot Campaign Metrics": {
      "main": [
        [
          {
            "node": "Aggregate Campaign Data for Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Campaign Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Campaign Data for Prompt": {
      "main": [
        [
          {
            "node": "Generate Gemini Insight Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Gemini Insight Summary": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaign Rows": {
      "main": [
        [
          {
            "node": "Write Metrics to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}