feedback-loop/candidates/finance/harvested_finance_002_workflow.json
{
  "name": "Zuora Payment Gateway Fee Reconciliation",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Fee Mismatches",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "WITH configured_fees AS (\n  SELECT\n    pc.account_id,\n    pc.account_name,\n    pc.plan_name,\n    pc.plan_value AS configured_fee,\n    pc.charge_model,\n    pc.subscription_name\n  FROM `guesty-data.zuora_analytics.product_catalog` pc\n  WHERE LOWER(pc.plan_name) LIKE '%payment gateway%'\n    AND pc.effective_end_date > CURRENT_DATE()\n),\ninvoiced_fees AS (\n  SELECT\n    ii.mongo_account_id,\n    ii.subscription_name,\n    ii.product_name,\n    SUM(ii.amount) AS total_invoiced\n  FROM `guesty-data.zuora_analytics.invoice_items` ii\n  JOIN `guesty-data.zuora_analytics.invoices` inv\n    ON ii.invoice_id = inv.invoice_id\n  WHERE ii.invoiceitem_servicestartdate >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\n    AND inv.zuora_invoice_status = 'Posted'\n    AND LOWER(ii.product_name) LIKE '%payment gateway%'\n  GROUP BY ii.mongo_account_id, ii.subscription_name, ii.product_name\n)\nSELECT\n  cf.account_id,\n  cf.account_name,\n  cf.plan_name,\n  cf.configured_fee,\n  IFNULL(inf.total_invoiced, 0) AS total_invoiced,\n  ROUND(IFNULL(inf.total_invoiced, 0) - cf.configured_fee, 4) AS delta\nFROM configured_fees cf\nLEFT JOIN invoiced_fees inf\n  ON cf.account_id = inf.mongo_account_id\n  AND cf.subscription_name = inf.subscription_name\nWHERE ROUND(IFNULL(inf.total_invoiced, 0) - cf.configured_fee, 4) != 0\nORDER BY ABS(ROUND(IFNULL(inf.total_invoiced, 0) - cf.configured_fee, 4)) DESC\nLIMIT 200",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "3b1e4f2a-9c8d-4e7f-b6a5-2d1c0e9f8b7a",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "mismatches",
        "include": "allFields"
      }
    },
    {
      "id": "9d8c7b6a-5e4f-4d3c-b2a1-0f9e8d7c6b5a",
      "name": "Any Mismatches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1f2e3d4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
              "leftValue": "={{ $json.mismatches.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "2e3f4a5b-6c7d-4e8f-9a0b-1c2d3e4f5a6b",
      "name": "Build Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const mismatches = $input.first().json.mismatches || [];\nconst today = new Date().toISOString().slice(0, 10);\n\nconst lines = mismatches.map(function(m) {\n  const name = m.account_name || m.account_id;\n  const plan = m.plan_name || 'Unknown Plan';\n  const configured = parseFloat(m.configured_fee || 0).toFixed(2);\n  const invoiced = parseFloat(m.total_invoiced || 0).toFixed(2);\n  const delta = parseFloat(m.delta || 0).toFixed(2);\n  const sign = parseFloat(delta) > 0 ? '+' : '';\n  return '*' + name + '* (' + m.account_id + ')\\n  Plan: ' + plan + '\\n  Configured: $' + configured + ' | Invoiced (30d): $' + invoiced + ' | Delta: ' + sign + '$' + delta;\n});\n\nconst header = ':rotating_light: *Payment Gateway Fee Mismatch Alert* :rotating_light:\\n*Date:* ' + today + '\\n*Mismatches found:* ' + mismatches.length + '\\n';\nconst body = lines.join('\\n\\n');\nconst footer = '\\n\\n_Source: guesty-data.zuora_analytics | Review mismatches in BigQuery_';\n\nreturn [{\n  json: {\n    slack_message: header + '\\n' + body + footer,\n    mismatch_count: mismatches.length\n  }\n}];\n"
      }
    },
    {
      "id": "4f5a6b7c-8d9e-4f0a-b1c2-3d4e5f6a7b8c",
      "name": "Post Mismatch Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#finance-alerts"
        },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "g3NQlNzyjFofD87l",
          "name": "bot_user_oauth_token_slack_app_workflows_builder"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "6b7c8d9e-0f1a-4b2c-3d4e-5f6a7b8c9d0e",
      "name": "Post All Clear",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1200,
        440
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#finance-alerts"
        },
        "text": "=:white_check_mark: *Payment Gateway Fee Check -- All Clear*\n*Date:* {{ $now.toFormat('yyyy-MM-dd') }}\nNo fee mismatches found in the last 30 days. All configured payment gateway fees match invoiced amounts.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "g3NQlNzyjFofD87l",
          "name": "bot_user_oauth_token_slack_app_workflows_builder"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Fee Mismatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Fee Mismatches": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Any Mismatches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Mismatches?": {
      "main": [
        [
          {
            "node": "Build Alert Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post All Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Alert Message": {
      "main": [
        [
          {
            "node": "Post Mismatch Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}