feedback-loop/candidates/finance/harvested_finance_001_workflow.json
{
  "name": "Weekly Invoice Reconciliation",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Every Monday 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "BQ Invoice Totals",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        500,
        160
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  company_code,\n  ROUND(SUM(invoice_amount), 2) AS total_invoice_amount,\n  COUNT(invoice_id)             AS invoice_count\nFROM `guesty-data.zuora_analytics.invoices`\nWHERE invoice_date >= TIMESTAMP(DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), MONTH))\n  AND invoice_date <  TIMESTAMP(DATE_TRUNC(CURRENT_DATE(), MONTH))\n  AND status = 'Posted'\nGROUP BY company_code\nORDER BY total_invoice_amount DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "3d594a8e-1b2f-4c6d-9e3a-7f8b2c1d5e4f",
      "name": "BQ Invoice Item Totals",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        500,
        440
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  company_code,\n  ROUND(SUM(amount), 2)          AS total_items_amount,\n  COUNT(invoice_item_id)         AS item_count\nFROM `guesty-data.zuora_analytics.invoice_items`\nWHERE invoice_duedate >= DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), MONTH)\n  AND invoice_duedate <  DATE_TRUNC(CURRENT_DATE(), MONTH)\nGROUP BY company_code\nORDER BY total_items_amount DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "name": "Merge by Company Code",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        760,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "fieldsToMatchString": "company_code",
        "joinMode": "keepMatches",
        "outputDataFrom": "both"
      }
    },
    {
      "id": "b3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
      "name": "Calculate Difference",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            {
              "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
              "name": "difference",
              "value": "={{ $json.total_invoice_amount - $json.total_items_amount }}",
              "type": "number"
            },
            {
              "id": "d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a",
              "name": "has_discrepancy",
              "value": "={{ Math.abs($json.total_invoice_amount - $json.total_items_amount) > 0.01 }}",
              "type": "boolean"
            }
          ]
        }
      }
    },
    {
      "id": "e4f5a6b7-c8d9-4e0f-1a2b-3c4d5e6f7a8b",
      "name": "Aggregate Rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "rows",
        "include": "allFields"
      }
    },
    {
      "id": "f5a6b7c8-d9e0-4f1a-2b3c-4d5e6f7a8b9c",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1480,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#finance-reconciliation"
        },
        "text": "={{ '*Weekly Invoice Reconciliation -- ' + $now.minus({months:1}).toFormat('MMMM yyyy') + '*\\nComparing invoice totals vs. line-item totals by company code (prior full calendar month).\\n\\n' + $json.rows.map(r => { const diff = r.difference; const flag = r.has_discrepancy ? '  :warning: DISCREPANCY' : '  :white_check_mark:'; return '*' + r.company_code + '*  |  Invoice: $' + r.total_invoice_amount.toFixed(2) + '  |  Items: $' + r.total_items_amount.toFixed(2) + '  |  Diff: $' + diff.toFixed(2) + flag; }).join('\\n') }}"
      },
      "credentials": {
        "slackApi": {
          "id": "g3NQlNzyjFofD87l",
          "name": "bot_user_oauth_token_slack_app_workflows_builder"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 8am UTC": {
      "main": [
        [
          {
            "node": "BQ Invoice Totals",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ Invoice Item Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ Invoice Totals": {
      "main": [
        [
          {
            "node": "Merge by Company Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ Invoice Item Totals": {
      "main": [
        [
          {
            "node": "Merge by Company Code",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge by Company Code": {
      "main": [
        [
          {
            "node": "Calculate Difference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Difference": {
      "main": [
        [
          {
            "node": "Aggregate Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Rows": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}