feedback-loop/candidates/finance/harvested_finance_001_workflow.json
{
  "name": "Weekly Finance Reconciliation - Zuora Invoices vs Items",
  "nodes": [
    {
      "id": "a3f1c2d4-8e7b-4a9c-b1d2-3e4f5a6b7c8d",
      "name": "Every Monday 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f8c-4b0d-c2e3-4f5a6b7c8d9e",
      "name": "BQ - Invoice Totals",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        180
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  company_code,\n  ROUND(SUM(invoice_amount), 2) AS total_invoice_amount,\n  COUNT(invoice_id) AS invoice_count\nFROM `guesty-data.zuora_analytics.invoices`\nWHERE invoice_date >= TIMESTAMP(DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), MONTH))\n  AND invoice_date <  TIMESTAMP(DATE_TRUNC(CURRENT_DATE(), MONTH))\n  AND status = 'Posted'\nGROUP BY company_code\nORDER BY company_code",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a9d-4c1e-d3f4-5a6b7c8d9e0f",
      "name": "BQ - Invoice Item Totals",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        420
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  company_code,\n  ROUND(SUM(amount), 2) AS total_item_amount,\n  COUNT(invoice_item_id) AS item_count\nFROM `guesty-data.zuora_analytics.invoice_items`\nWHERE invoice_item_created_at >= CAST(DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), MONTH) AS STRING)\n  AND invoice_item_created_at <  CAST(DATE_TRUNC(CURRENT_DATE(), MONTH) AS STRING)\nGROUP BY company_code\nORDER BY company_code",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "d6a4f5b7-1b0e-4d2f-e4a5-6b7c8d9e0f1a",
      "name": "Merge by Company Code",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "fieldsToMatchString": "company_code",
        "joinMode": "keepEverything",
        "options": {}
      }
    },
    {
      "id": "e7b5a6c8-2c1f-4e3a-f5b6-7c8d9e0f1a2b",
      "name": "Set Difference and Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
              "name": "company_code",
              "value": "={{ $json.company_code }}",
              "type": "string"
            },
            {
              "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
              "name": "total_invoice_amount",
              "value": "={{ $json.total_invoice_amount ?? 0 }}",
              "type": "number"
            },
            {
              "id": "b3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
              "name": "invoice_count",
              "value": "={{ $json.invoice_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "c4d5e6f7-a8b9-4c0d-1e2f-3a4b5c6d7e8f",
              "name": "total_item_amount",
              "value": "={{ $json.total_item_amount ?? 0 }}",
              "type": "number"
            },
            {
              "id": "d5e6f7a8-b9c0-4d1e-2f3a-4b5c6d7e8f9a",
              "name": "item_count",
              "value": "={{ $json.item_count ?? 0 }}",
              "type": "number"
            },
            {
              "id": "e6f7a8b9-c0d1-4e2f-3a4b-5c6d7e8f9a0b",
              "name": "difference",
              "value": "={{ Math.round((($json.total_invoice_amount ?? 0) - ($json.total_item_amount ?? 0)) * 100) / 100 }}",
              "type": "number"
            },
            {
              "id": "f7a8b9c0-d1e2-4f3a-4b5c-6d7e8f9a0b1c",
              "name": "status",
              "value": "={{ ($json.total_invoice_amount ?? 0) === ($json.total_item_amount ?? 0) ? 'MATCH' : 'MISMATCH' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "a8b9c0d1-e2f3-4a4b-5c6d-7e8f9a0b1c2d",
      "name": "Slack - Post Reconciliation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#finance-reconciliation"
        },
        "text": "={{ $json.status === 'MATCH' ? ':white_check_mark:' : ':rotating_light:' }} *{{ $json.company_code }}* | {{ $json.status }}\n>Invoice Total: *${{ $json.total_invoice_amount }}* ({{ $json.invoice_count }} invoices)\n>Item Total:    *${{ $json.total_item_amount }}* ({{ $json.item_count }} items)\n>Difference:    *${{ $json.difference }}*",
        "options": {}
      },
      "credentials": {
        "slackApi": {
          "id": "g3NQlNzyjFofD87l",
          "name": "bot_user_oauth_token_slack_app_workflows_builder"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 8am UTC": {
      "main": [
        [
          {
            "node": "BQ - Invoice Totals",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Invoice Item Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Invoice Totals": {
      "main": [
        [
          {
            "node": "Merge by Company Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Invoice Item Totals": {
      "main": [
        [
          {
            "node": "Merge by Company Code",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge by Company Code": {
      "main": [
        [
          {
            "node": "Set Difference and Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Difference and Status": {
      "main": [
        [
          {
            "node": "Slack - Post Reconciliation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}