feedback-loop/candidates/finance/harvested_finance_002_workflow.json
{
  "name": "Zuora Payment Gateway Fee Reconciliation",
  "nodes": [
    {
      "id": "a1f3c2e4-9b7d-4e6f-8a0c-1d2e3f4a5b6c",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b2e4d6f8-0a1c-4b3d-9e5f-2a3b4c5d6e7f",
      "name": "Query Fee Mismatches",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "WITH configured_fees AS (\n  SELECT\n    account_id,\n    account_name,\n    subscription_name,\n    plan_name,\n    plan_value          AS configured_fee,\n    charge_model,\n    chargetype\n  FROM `guesty-data.zuora_analytics.product_catalog`\n  WHERE LOWER(plan_name) LIKE '%payment gateway%'\n    AND effective_end_date > CURRENT_DATE()\n),\n\ninvoiced_fees AS (\n  SELECT\n    ii.mongo_account_id,\n    ii.subscription_name,\n    SUM(ii.amount)      AS total_invoiced\n  FROM `guesty-data.zuora_analytics.invoice_items` ii\n  JOIN `guesty-data.zuora_analytics.invoices` inv\n    ON ii.invoice_id = inv.invoice_id\n  WHERE LOWER(ii.product_name) LIKE '%payment gateway%'\n    AND inv.invoice_date >= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 30 DAY)\n    AND inv.status = 'Posted'\n  GROUP BY ii.mongo_account_id, ii.subscription_name\n)\n\nSELECT\n  cf.account_id,\n  cf.account_name,\n  cf.subscription_name,\n  cf.plan_name,\n  cf.configured_fee,\n  cf.charge_model,\n  IFNULL(inf.total_invoiced, 0)                         AS total_invoiced,\n  ROUND(IFNULL(inf.total_invoiced, 0) - cf.configured_fee, 4) AS delta\nFROM configured_fees cf\nLEFT JOIN invoiced_fees inf\n  ON cf.account_id = inf.mongo_account_id\n  AND cf.subscription_name = inf.subscription_name\nWHERE ROUND(IFNULL(inf.total_invoiced, 0) - cf.configured_fee, 4) != 0\n  OR inf.mongo_account_id IS NULL\nORDER BY ABS(ROUND(IFNULL(inf.total_invoiced, 0) - cf.configured_fee, 4)) DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c3f5e7a9-1b2c-4d4e-af6f-3b4c5d6e7f8a",
      "name": "Summarize Mismatches",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "countUnique",
              "field": "account_id",
              "outputFieldName": "mismatch_count"
            },
            {
              "aggregation": "sum",
              "field": "delta",
              "outputFieldName": "total_delta"
            }
          ]
        }
      }
    },
    {
      "id": "d4a6f8b0-2c3d-4e5f-b07a-4c5d6e7f8a9b",
      "name": "Any Mismatches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        900,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e5b7c9d1-3d4e-4f60-c18b-5d6e7f8a9b0c",
              "leftValue": "={{ $json.mismatch_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "e5c7d9f1-4e5f-4a71-d29c-6e7f8a9b0c1d",
      "name": "Build Mismatch List",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        180
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "mismatches",
        "include": "specifiedFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "account_id"
            },
            {
              "fieldName": "account_name"
            },
            {
              "fieldName": "subscription_name"
            },
            {
              "fieldName": "plan_name"
            },
            {
              "fieldName": "configured_fee"
            },
            {
              "fieldName": "total_invoiced"
            },
            {
              "fieldName": "delta"
            }
          ]
        }
      }
    },
    {
      "id": "f6d8e0a2-5f60-4b82-e3ad-7f8a9b0c1d2e",
      "name": "Post Mismatch Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1340,
        180
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#finance-alerts"
        },
        "text": "={{ ':rotating_light: *Payment Gateway Fee Reconciliation Alert* :rotating_light:\\n' + '*Date:* ' + $now.toFormat('yyyy-MM-dd') + '\\n' + '*Mismatched Accounts:* ' + $('Summarize Mismatches').first().json.mismatch_count + '\\n' + '*Total Delta:* $' + $('Summarize Mismatches').first().json.total_delta.toFixed(2) + '\\n\\n' + '*Account Details (sorted by largest delta):*\\n' + $json.mismatches.map(m => '- *' + m.account_name + '* (' + m.account_id + ')\\n  Plan: ' + m.plan_name + ' | Sub: ' + m.subscription_name + '\\n  Configured: $' + m.configured_fee + ' | Invoiced: $' + m.total_invoiced + ' | Delta: $' + m.delta).join('\\n') }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "g3NQlNzyjFofD87l",
          "name": "bot_user_oauth_token_slack_app_workflows_builder"
        }
      }
    },
    {
      "id": "a7e9f1b3-6a71-4c93-f4be-8a9b0c1d2e3f",
      "name": "Post All Clear",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        420
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#finance-alerts"
        },
        "text": "={{ ':white_check_mark: *Payment Gateway Fee Reconciliation* (' + $now.toFormat('yyyy-MM-dd') + ')\\nNo fee mismatches found in the last 30 days. All configured fees match invoiced amounts.' }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "g3NQlNzyjFofD87l",
          "name": "bot_user_oauth_token_slack_app_workflows_builder"
        }
      }
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Fee Mismatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Fee Mismatches": {
      "main": [
        [
          {
            "node": "Summarize Mismatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Mismatches": {
      "main": [
        [
          {
            "node": "Any Mismatches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Mismatches?": {
      "main": [
        [
          {
            "node": "Build Mismatch List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post All Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mismatch List": {
      "main": [
        [
          {
            "node": "Post Mismatch Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}