feedback-loop/candidates/marketing/harvested_marketing_002_workflow.json
{
  "name": "Weekly Conference Campaign + Email Engagement Report",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Every Monday 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "b7e2d3f5-9a6c-4b8d-0e1f-2c3d4e5f6a7b",
      "name": "SF - Conference Campaigns",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "SELECT Id, Name, Type, StartDate, EndDate, Status, NumberOfLeads, NumberOfContacts, NumberOfOpportunities, ExpectedRevenue, BudgetedCost, ActualCost FROM Campaign WHERE Type = 'Conference' AND StartDate >= TODAY AND StartDate <= NEXT_N_DAYS:30 ORDER BY StartDate ASC"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      }
    },
    {
      "id": "c8f3e4a6-0b7d-4c9e-1f2a-3d4e5f6a7b8c",
      "name": "BQ - HubSpot Email Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        720,
        480
      ],
      "parameters": {
        "projectId": {
          "mode": "id",
          "value": "guesty-data"
        },
        "sqlQuery": "SELECT campaignName, COUNT(*) AS total_events, COUNTIF(event_type = 'DELIVERED') AS delivered, COUNTIF(event_type = 'OPEN') AS opens, COUNTIF(event_type = 'CLICK') AS clicks, SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'), NULLIF(COUNTIF(event_type = 'DELIVERED'), 0)) AS open_rate, SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), NULLIF(COUNTIF(event_type = 'OPEN'), 0)) AS click_to_open_rate, COUNT(DISTINCT recipient) AS unique_recipients, COUNT(DISTINCT account_id) AS unique_accounts FROM `guesty-data.marketing_data.hubspot_emails_events` WHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 90 DAY) GROUP BY campaignName ORDER BY total_events DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "d9a4f5b7-1c8e-4d0f-2a3b-4e5f6a7b8c9d",
      "name": "Merge Campaigns + Email Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition"
      }
    },
    {
      "id": "e0b5a6c8-2d9f-4e1a-3b4c-5f6a7b8c9d0e",
      "name": "Aggregate for AI Summary",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFields",
        "destinationFieldName": "campaigns"
      }
    },
    {
      "id": "f1c6b7d9-3e0a-4f2b-4c5d-6a7b8c9d0e1f",
      "name": "Gemini - Strategic Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.campaigns) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a senior marketing strategist at Guesty, a property management software company. Your job is to analyze upcoming conference pipeline data alongside HubSpot email engagement metrics and produce a concise, actionable weekly briefing for the marketing team. Be specific, data-driven, and highlight opportunities and risks."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Here is this week's data for upcoming conferences (next 30 days) and their associated HubSpot email engagement metrics:\n\n{{ $json.campaigns }}\n\nPlease produce a strategic summary that includes:\n1. Overview of upcoming conferences (count, dates, pipeline value)\n2. Email engagement highlights (best and worst performing campaigns by open rate and click-to-open rate)\n3. Gaps or mismatches between pipeline expectations (ExpectedRevenue, NumberOfLeads) and email engagement\n4. 2-3 specific recommended actions for the marketing team this week\n\nFormat the response as a clear, readable Slack message using plain text with emoji bullets. Keep it under 400 words."
            }
          ]
        }
      }
    },
    {
      "id": "a2d7c8e0-4f1b-4a3c-5d6e-7b8c9d0e1f2a",
      "name": "Gemini LM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "b3e8d9f1-5a2c-4b4d-6e7f-8c9d0e1f2a3b",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        180
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      }
    },
    {
      "id": "c4f9e0a2-6b3d-4c5e-7f8a-9d0e1f2a3b4c",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1680,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-events"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 8am UTC": {
      "main": [
        [
          {
            "node": "SF - Conference Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF - Conference Campaigns": {
      "main": [
        [
          {
            "node": "Merge Campaigns + Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - HubSpot Email Metrics": {
      "main": [
        [
          {
            "node": "Merge Campaigns + Email Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Campaigns + Email Data": {
      "main": [
        [
          {
            "node": "Aggregate for AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate for AI Summary": {
      "main": [
        [
          {
            "node": "Gemini - Strategic Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini LM": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini - Strategic Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Strategic Summary": {
      "main": [
        [
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}