feedback-loop/candidates/marketing/harvested_marketing_008_workflow.json
{
  "name": "Weekly Marketing Events & Engagement Report",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Every Monday 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3f4d5e6f7a",
      "name": "SF - Conference Campaigns Next 30 Days",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "SELECT Id, Name, Type, StartDate, EndDate, Status, Description FROM Campaign WHERE Type = 'Conference' AND StartDate >= TODAY AND StartDate <= NEXT_N_DAYS:30 ORDER BY StartDate ASC"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "c5f3e4a6-0a7d-4c9e-b1f2-3d4a5e6f7b8c",
      "name": "Aggregate Campaign Names",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "campaigns",
        "include": "allFields"
      }
    },
    {
      "id": "d6a4f5b7-1b8e-4d0f-c2a3-4e5b6f7c8d9e",
      "name": "BQ - HubSpot Email Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName,\n  COUNT(*) AS total_events,\n  COUNTIF(event_type = 'OPEN') AS opens,\n  COUNTIF(event_type = 'CLICK') AS clicks,\n  COUNTIF(event_type = 'DELIVERED') AS delivered,\n  COUNTIF(event_type = 'BOUNCE') AS bounces,\n  SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'), COUNTIF(event_type = 'DELIVERED')) AS open_rate,\n  SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), COUNTIF(event_type = 'OPEN')) AS click_to_open_rate\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 90 DAY)\nGROUP BY campaignName\nORDER BY total_events DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "e7b5a6c8-2c9f-4e1a-d3b4-5f6c7a8d9e0f",
      "name": "Merge SF and BQ Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "emailMetrics",
        "include": "allFields"
      }
    },
    {
      "id": "f8c6b7d9-3d0a-4f2b-e4c5-6a7d8b9e0f1a",
      "name": "Gemini - Strategic Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "=SALESFORCE CONFERENCE CAMPAIGNS (next 30 days):\n{{ JSON.stringify($('Aggregate Campaign Names').first().json.campaigns, null, 2) }}\n\nHUBSPOT EMAIL ENGAGEMENT METRICS (last 90 days):\n{{ JSON.stringify($json.emailMetrics, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a senior marketing strategist at Guesty. Analyze the provided Salesforce conference pipeline data and HubSpot email engagement metrics. Write a concise strategic summary (300-400 words) covering: 1) Upcoming conference pipeline overview (count, dates, status). 2) Email marketing engagement health (open rates, click rates, top performing campaigns). 3) Strategic observations -- where email engagement aligns or gaps with upcoming events. 4) 2-3 actionable recommendations for the marketing team. Use plain text with clear section headers. No markdown code fences."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Please generate the weekly marketing events and engagement summary based on the data provided."
            }
          ]
        },
        "hasOutputParser": false
      }
    },
    {
      "id": "a1b2c3d4-7e8f-4a9b-8c0d-9e1f2a3b4c5d",
      "name": "Gemini Flash Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 1024
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "b2c3d4e5-1f2a-4b3c-9d4e-5f6a7b8c9d0e",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1560,
        180
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign Name": "={{ $('Aggregate Campaign Names').first().json.campaigns.map(function(c) { return c.Name; }).join(', ') }}",
            "Run Date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "Total Campaigns": "={{ $('Aggregate Campaign Names').first().json.campaigns.length }}",
            "Email Campaigns Tracked": "={{ $('Merge SF and BQ Data').first().json.emailMetrics.length }}",
            "Top Email Campaign": "={{ $('Merge SF and BQ Data').first().json.emailMetrics[0] ? $('Merge SF and BQ Data').first().json.emailMetrics[0].campaignName : 'N/A' }}",
            "Top Opens": "={{ $('Merge SF and BQ Data').first().json.emailMetrics[0] ? $('Merge SF and BQ Data').first().json.emailMetrics[0].opens : 0 }}",
            "Top Open Rate": "={{ $('Merge SF and BQ Data').first().json.emailMetrics[0] ? $('Merge SF and BQ Data').first().json.emailMetrics[0].open_rate : 0 }}",
            "Top CTOR": "={{ $('Merge SF and BQ Data').first().json.emailMetrics[0] ? $('Merge SF and BQ Data').first().json.emailMetrics[0].click_to_open_rate : 0 }}",
            "AI Summary": "={{ $json.text }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "c3d4e5f6-2a3b-4c5d-0e1f-6a7b8c9d0e1f",
      "name": "Slack - Post to #marketing-events",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1560,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-events"
        },
        "messageType": "block",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": {
                "type": "plain_text",
                "text": ":bar_chart: Weekly Marketing Events & Engagement Report"
              }
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "=*Run Date:* {{ $now.toFormat('MMMM d, yyyy') }} | *Upcoming Conferences:* {{ $('Aggregate Campaign Names').first().json.campaigns.length }} | *Email Campaigns Tracked:* {{ $('Merge SF and BQ Data').first().json.emailMetrics.length }}"
              }
            },
            {
              "type": "divider"
            },
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "={{ $('Gemini - Strategic Summary').first().json.text }}"
              }
            },
            {
              "type": "divider"
            },
            {
              "type": "context",
              "elements": [
                {
                  "type": "mrkdwn",
                  "text": "Generated by n8n | Data: Salesforce + BigQuery marketing_data | AI: Gemini 2.5 Flash"
                }
              ]
            }
          ]
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Every Monday 8am UTC": {
      "main": [
        [
          {
            "node": "SF - Conference Campaigns Next 30 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF - Conference Campaigns Next 30 Days": {
      "main": [
        [
          {
            "node": "Aggregate Campaign Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Campaign Names": {
      "main": [
        [
          {
            "node": "BQ - HubSpot Email Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - HubSpot Email Metrics": {
      "main": [
        [
          {
            "node": "Merge SF and BQ Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge SF and BQ Data": {
      "main": [
        [
          {
            "node": "Gemini - Strategic Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini - Strategic Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Strategic Summary": {
      "main": [
        [
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack - Post to #marketing-events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}