feedback-loop/candidates/marketing/harvested_marketing_001_workflow.json
{
  "name": "HubSpot Email Campaign Daily Insights",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3d4e5f6a7b",
      "name": "Fetch Campaign Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName,\n  COUNT(DISTINCT recipient) AS recipients,\n  COUNTIF(event_type = 'DELIVERED') AS emails_sent,\n  COUNTIF(event_type = 'OPEN') AS opens,\n  COUNTIF(event_type = 'CLICK') AS clicks,\n  COUNTIF(event_type = 'UNSUBSCRIBE') AS unsubscribes,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'), COUNTIF(event_type = 'DELIVERED')) * 100, 1) AS open_rate_pct,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), COUNTIF(event_type = 'DELIVERED')) * 100, 1) AS click_rate_pct\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 7 DAY)\n  AND campaignName IS NOT NULL\nGROUP BY campaignName\nORDER BY emails_sent DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a7d-4c9e-b1f2-3d4e5f6a7b8c",
      "name": "Aggregate Metrics for Prompt",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "campaigns",
        "include": "allFields"
      }
    },
    {
      "id": "d6a4f5b7-1b8e-4d0f-c2a3-4e5f6a7b8c9d",
      "name": "Generate Gemini Insights",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        900,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.campaigns, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a marketing analyst. Analyze HubSpot email campaign performance data and return exactly 3 bullet points as plain text. Each bullet must start with a bullet character and be on its own line. Focus on: (1) the top performing campaign by open rate, (2) the most underperforming campaign, and (3) one actionable recommendation. No markdown headers, no JSON, no extra commentary."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Here is the email campaign performance data for the past 7 days:\n\n{{ $json.campaigns }}\n\nProvide a 3-bullet insight summary highlighting the top performing campaign, the most underperforming campaign, and one actionable recommendation."
            }
          ]
        }
      }
    },
    {
      "id": "e7b5a6c8-2c9f-4e1a-d3b4-5f6a7b8c9d0e",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "f8c6b7d9-3d0a-4f2b-e4c5-6a7b8c9d0e1f",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-insights"
        },
        "text": "=:bar_chart: *HubSpot Email Campaign Insights -- Last 7 Days*\n\n{{ $json.text }}\n\n_Generated {{ $now.toFormat('MMMM d, yyyy') }} at 8:00 AM UTC_"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Split Campaigns for Sheets",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1340,
        420
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit"
        },
        "sheetName": {
          "mode": "name",
          "value": "Email Campaign Metrics"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      }
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "Fetch Campaign Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Campaign Metrics": {
      "main": [
        [
          {
            "node": "Aggregate Metrics for Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Metrics for Prompt": {
      "main": [
        [
          {
            "node": "Generate Gemini Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Gemini Insights": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Campaigns for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "Gemini Flash",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns for Sheets": {
      "main": [
        [
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}