feedback-loop/candidates/marketing/harvested_marketing_006_workflow.json
{
  "name": "Semrush Weekly SEO Report",
  "nodes": [
    {
      "id": "a3f7c2d1-84e6-4b19-9f3a-1c2d3e4f5a6b",
      "name": "Every Monday 6am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "b1e9d4c7-23f8-4a05-8e6b-7d8e9f0a1b2c",
      "name": "Semrush Domain Ranks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.semrush.com/",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "domain_ranks"
            },
            {
              "name": "key",
              "value": "YOUR_SEMRUSH_API_KEY"
            },
            {
              "name": "domain",
              "value": "guesty.com"
            },
            {
              "name": "database",
              "value": "us"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "c2f0e5d8-34a9-4b16-9f7c-8e9f0a1b2c3d",
      "name": "Semrush Keyword Rankings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        460,
        480
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.semrush.com/",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "domain_organic"
            },
            {
              "name": "key",
              "value": "YOUR_SEMRUSH_API_KEY"
            },
            {
              "name": "domain",
              "value": "guesty.com"
            },
            {
              "name": "database",
              "value": "us"
            },
            {
              "name": "display_limit",
              "value": "20"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          }
        }
      }
    },
    {
      "id": "d3a1f6e9-45b0-4c27-a08d-9f0a1b2c3d4e",
      "name": "Parse Domain Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "// Semrush domain_ranks returns pipe-delimited text\n// Columns: Db|Dn|Rk|Or|Ot|Oc|Ad|At|Ac|Sh|Sv|Sr|Xn\n// Rk=Domain Rank, Or=Organic Keywords, Ot=Organic Traffic\n\nconst raw = $input.item.json.data || '';\nconst lines = raw.trim().split('\\n');\n\nif (lines.length < 2) {\n  return [{ json: { Date: new Date().toISOString().split('T')[0], DomainRank: 0, OrganicTraffic: 0, OrganicKeywords: 0 } }];\n}\n\nconst headers = lines[0].split(';');\nconst values = lines[1].split(';');\n\nconst row = {};\nheaders.forEach((h, i) => { row[h.trim()] = values[i] ? values[i].trim() : ''; });\n\nreturn [{\n  json: {\n    Date: new Date().toISOString().split('T')[0],\n    DomainRank: parseInt(row['Rk'] || row['rk'] || 0, 10),\n    OrganicTraffic: parseInt(row['Ot'] || row['ot'] || 0, 10),\n    OrganicKeywords: parseInt(row['Or'] || row['or'] || 0, 10)\n  }\n}];"
      }
    },
    {
      "id": "e4b2a7f0-56c1-4d38-b19e-0a1b2c3d4e5f",
      "name": "Parse Keyword Rankings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        480
      ],
      "parameters": {
        "jsCode": "// Semrush domain_organic returns semicolon-delimited text\n// Columns: Ph|Po|Nq|Cp|Ur|Tr|Tc|Co|Nr|Td\n// Ph=Keyword, Po=Position, Nq=Search Volume, Tr=Traffic\n\nconst raw = $input.item.json.data || '';\nconst lines = raw.trim().split('\\n');\n\nif (lines.length < 2) {\n  return [{ json: { Keyword: 'N/A', Position: 0, SearchVolume: 0, Traffic: 0 } }];\n}\n\nconst headers = lines[0].split(';');\nconst results = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  if (!lines[i].trim()) continue;\n  const values = lines[i].split(';');\n  const row = {};\n  headers.forEach((h, idx) => { row[h.trim()] = values[idx] ? values[idx].trim() : ''; });\n  results.push({\n    json: {\n      Date: new Date().toISOString().split('T')[0],\n      Keyword: row['Ph'] || '',\n      Position: parseInt(row['Po'] || 0, 10),\n      SearchVolume: parseInt(row['Nq'] || 0, 10),\n      Traffic: parseInt(row['Tr'] || 0, 10)\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "f5c3b8a1-67d2-4e49-c20f-1b2c3d4e5f6a",
      "name": "Write SEO Summary Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "SEO Summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "Domain Rank": "={{ $json.DomainRank }}",
            "Organic Traffic": "={{ $json.OrganicTraffic }}",
            "Organic Keywords": "={{ $json.OrganicKeywords }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      }
    },
    {
      "id": "a6d4c9b2-78e3-4f5a-d31a-2c3d4e5f6a7b",
      "name": "Write Keyword Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        900,
        480
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "SEO Keywords"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "Keyword": "={{ $json.Keyword }}",
            "Position": "={{ $json.Position }}",
            "Search Volume": "={{ $json.SearchVolume }}",
            "Traffic": "={{ $json.Traffic }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      }
    },
    {
      "id": "b7e5d0c3-89f4-4a6b-e42b-3d4e5f6a7b8c",
      "name": "Sort by Search Volume",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        900,
        660
      ],
      "parameters": {
        "type": "simple",
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "SearchVolume",
              "order": "descending"
            }
          ]
        }
      }
    },
    {
      "id": "c8f6e1d4-90a5-4b7c-f53c-4e5f6a7b8c9d",
      "name": "Top 5 Keywords",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        660
      ],
      "parameters": {
        "maxItems": 5,
        "keep": "firstItems"
      }
    },
    {
      "id": "d9a7f2e5-01b6-4c8d-a64d-5f6a7b8c9d0e",
      "name": "Merge for Slack",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1340,
        480
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "outputDataFrom": "both"
      }
    },
    {
      "id": "e0b8a3f6-12c7-4d9e-b75e-6a7b8c9d0e1f",
      "name": "Build Slack Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        480
      ],
      "parameters": {
        "jsCode": "// Collect all items - first item is domain metrics, rest are top 5 keywords\nconst items = $input.all();\n\n// Find the domain metrics item (has DomainRank field)\nconst metricsItem = items.find(i => i.json.DomainRank !== undefined);\nconst keywordItems = items.filter(i => i.json.Keyword !== undefined);\n\nconst rank = metricsItem ? metricsItem.json.DomainRank : 'N/A';\nconst traffic = metricsItem ? metricsItem.json.OrganicTraffic : 'N/A';\nconst keywords = metricsItem ? metricsItem.json.OrganicKeywords : 'N/A';\nconst date = metricsItem ? metricsItem.json.Date : new Date().toISOString().split('T')[0];\n\nlet kwLines = '';\nkeywordItems.forEach((item, idx) => {\n  const kw = item.json.Keyword || '';\n  const pos = item.json.Position || 0;\n  const vol = item.json.SearchVolume || 0;\n  kwLines += (idx + 1) + '. *' + kw + '* -- Pos: #' + pos + ' | Vol: ' + vol.toLocaleString() + '\\n';\n});\n\nconst message = ':bar_chart: *Guesty.com Weekly SEO Report* (' + date + ')\\n\\n' +\n  '*Domain Overview*\\n' +\n  '- Domain Rank: *' + rank + '*\\n' +\n  '- Organic Traffic: *' + (typeof traffic === 'number' ? traffic.toLocaleString() : traffic) + '*\\n' +\n  '- Organic Keywords: *' + (typeof keywords === 'number' ? keywords.toLocaleString() : keywords) + '*\\n\\n' +\n  '*Top 5 Keywords by Search Volume*\\n' +\n  kwLines +\n  '\\n_Data sourced from Semrush. Full report in Google Sheets._';\n\nreturn [{ json: { slackMessage: message } }];"
      }
    },
    {
      "id": "f1c9b4a7-23d8-4e0f-c86f-7b8c9d0e1f2a",
      "name": "Post to #marketing-seo",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1780,
        480
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-seo"
        },
        "messageType": "text",
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Every Monday 6am UTC": {
      "main": [
        [
          {
            "node": "Semrush Domain Ranks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Semrush Keyword Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semrush Domain Ranks": {
      "main": [
        [
          {
            "node": "Parse Domain Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semrush Keyword Rankings": {
      "main": [
        [
          {
            "node": "Parse Keyword Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Domain Metrics": {
      "main": [
        [
          {
            "node": "Write SEO Summary Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge for Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Keyword Rankings": {
      "main": [
        [
          {
            "node": "Write Keyword Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sort by Search Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Search Volume": {
      "main": [
        [
          {
            "node": "Top 5 Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 Keywords": {
      "main": [
        [
          {
            "node": "Merge for Slack",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge for Slack": {
      "main": [
        [
          {
            "node": "Build Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Summary": {
      "main": [
        [
          {
            "node": "Post to #marketing-seo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}