feedback-loop/candidates/marketing/harvested_marketing_002_workflow.json
{
  "name": "Marketing Email Campaign Insights - Daily",
  "nodes": [
    {
      "id": "a3f1c2d4-8b7e-4f9a-b1c3-2d4e5f6a7b8c",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9c8f-4a0b-c2d4-3e5f6a7b8c9d",
      "name": "Fetch Campaign Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName,\n  COUNTIF(event_type = 'DELIVERED') AS emails_sent,\n  COUNTIF(event_type = 'OPEN')      AS opens,\n  COUNTIF(event_type = 'CLICK')     AS clicks,\n  COUNTIF(event_type = 'UNSUBSCRIBE') AS unsubscribes,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'),  COUNTIF(event_type = 'DELIVERED')) * 100, 1) AS open_rate_pct,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), COUNTIF(event_type = 'DELIVERED')) * 100, 1) AS click_rate_pct\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 7 DAY)\n  AND campaignName IS NOT NULL\nGROUP BY campaignName\nORDER BY emails_sent DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c5f3e4a6-0d9a-4b1c-d3e5-4f6a7b8c9d0e",
      "name": "Aggregate All Campaigns",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemFields",
        "include": "allFields",
        "options": {}
      }
    },
    {
      "id": "d6a4f5b7-1e0b-4c2d-e4f6-5a6b7c8d9e0f",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "e7b5a6c8-2f1c-4d3e-f5a7-6b7c8d9e0f1a",
              "name": "campaignData",
              "type": "string",
              "value": "={{ $json.campaignName.map((name, i) => `Campaign: ${name} | Sent: ${$json.emails_sent[i]} | Opens: ${$json.opens[i]} (${$json.open_rate_pct[i]}%) | Clicks: ${$json.clicks[i]} (${$json.click_rate_pct[i]}%) | Unsubscribes: ${$json.unsubscribes[i]}`).join('\\n') }}"
            },
            {
              "id": "f8c6b7d9-3a2d-4e4f-a6b8-7c8d9e0f1a2b",
              "name": "reportDate",
              "type": "string",
              "value": "={{ $now.toFormat('MMMM d, yyyy') }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e9d7c8e0-4b3e-4f5a-b7c9-8d9e0f1a2b3c",
      "name": "Gemini Insight Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        960,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Campaign performance data for the past 7 days (week of {{ $json.reportDate }}):\n\n{{ $json.campaignData }}\n\nGenerate exactly 3 bullet points:\n- Bullet 1: Top performing campaign (highest open rate) with key stats\n- Bullet 2: Most clicked campaign with key stats\n- Bullet 3: Underperforming campaign (lowest open rate, min 100 sent) with a brief recommendation\n\nKeep each bullet concise (1-2 sentences). Use plain text, no markdown headers.",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a marketing analyst at Guesty. You write clear, data-driven email campaign summaries for the marketing team. Be specific with numbers. Keep the tone professional and actionable."
            }
          ]
        },
        "hasOutputParser": false,
        "options": {}
      }
    },
    {
      "id": "f0e8d9f1-5c4f-4a6b-c8d0-9e0f1a2b3c4d",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "a1f9e0a2-6d5a-4b7c-d9e1-0f1a2b3c4d5e",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1200,
        180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-insights"
        },
        "text": "=:bar_chart: *HubSpot Email Campaign Insights -- Week of {{ $('Build Gemini Prompt').item.json.reportDate }}*\n\n{{ $json.text }}\n\n_Data source: HubSpot email events (last 7 days) | Full metrics in Google Sheets_",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      }
    },
    {
      "id": "b2a0f1b3-7e6b-4c8d-e0f2-1a2b3c4d5e6f",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        420
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID_HERE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Campaign Metrics"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "campaignName"
          ],
          "schema": [
            {
              "id": "campaignName",
              "displayName": "campaignName",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emails_sent",
              "displayName": "emails_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "opens",
              "displayName": "opens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "clicks",
              "displayName": "clicks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "unsubscribes",
              "displayName": "unsubscribes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "open_rate_pct",
              "displayName": "open_rate_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "click_rate_pct",
              "displayName": "click_rate_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      }
    },
    {
      "id": "c3b1a2c4-8f7c-4d9e-f1a3-2b3c4d5e6f7a",
      "name": "Split Campaigns for Sheets",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        420
      ],
      "parameters": {
        "fieldToSplitOut": "campaignName",
        "options": {
          "include": "allOtherFields"
        }
      }
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "Fetch Campaign Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Campaign Metrics": {
      "main": [
        [
          {
            "node": "Aggregate All Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Campaigns": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Gemini Insight Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Insight Summary": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Flash",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Campaigns for Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns for Sheets": {
      "main": [
        [
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}