feedback-loop/candidates/marketing/harvested_marketing_004_workflow.json
{
  "name": "HubSpot Email Campaign Daily Insights",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "BQ - Email Campaign Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName,\n  COUNTIF(event_type = 'DELIVERED') AS emails_sent,\n  COUNTIF(event_type = 'OPEN')      AS opens,\n  COUNTIF(event_type = 'CLICK')     AS clicks,\n  COUNTIF(event_type = 'UNSUBSCRIBE') AS unsubscribes,\n  SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'),  NULLIF(COUNTIF(event_type = 'DELIVERED'), 0)) AS open_rate,\n  SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), NULLIF(COUNTIF(event_type = 'OPEN'), 0))      AS click_to_open_rate\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 7 DAY)\n  AND campaignName IS NOT NULL\nGROUP BY campaignName\nORDER BY emails_sent DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        480
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Email Performance"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "campaign_name": "={{ $json.campaignName }}",
            "emails_sent": "={{ $json.emails_sent }}",
            "opens": "={{ $json.opens }}",
            "clicks": "={{ $json.clicks }}",
            "unsubscribes": "={{ $json.unsubscribes }}",
            "open_rate_pct": "={{ ($json.open_rate * 100).toFixed(2) }}",
            "click_to_open_rate_pct": "={{ ($json.click_to_open_rate * 100).toFixed(2) }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "3d594a5e-1b2f-4c8a-9e6d-7f0a1b2c3d4e",
      "name": "Aggregate Campaign Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "campaigns",
        "include": "allFields"
      }
    },
    {
      "id": "9a8b7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4",
      "name": "Gemini - Generate Insights",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        960,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.campaigns.map(c => 'Campaign: ' + c.campaignName + ' | Sent: ' + c.emails_sent + ' | Opens: ' + c.opens + ' | Clicks: ' + c.clicks + ' | Unsubscribes: ' + c.unsubscribes + ' | Open Rate: ' + (c.open_rate * 100).toFixed(1) + '% | CTOR: ' + (c.click_to_open_rate * 100).toFixed(1) + '%').join('\\n') }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a marketing analyst. Write exactly 3 bullet points as an executive summary of HubSpot email campaign performance for the past 7 days. Each bullet must include specific numbers. Cover: (1) top performing campaign by open rate, (2) underperforming campaign by open rate or highest unsubscribes, (3) one overall trend or notable pattern. Be concise and data-driven. Use plain text only -- no markdown headers, no code fences."
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-insights"
        },
        "text": "=:bar_chart: *HubSpot Email Campaign Insights -- Last 7 Days* ({{ $now.toFormat('MMM d, yyyy') }})\n\n{{ $json.text }}\n\n_Full metrics written to Google Sheets._",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "BQ - Email Campaign Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Email Campaign Metrics": {
      "main": [
        [
          {
            "node": "Aggregate Campaign Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Campaign Data": {
      "main": [
        [
          {
            "node": "Gemini - Generate Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini - Generate Insights",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Generate Insights": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}