feedback-loop/candidates/marketing/harvested_marketing_003_workflow.json
{
  "name": "HubSpot Email Campaign Daily Insights",
  "nodes": [
    {
      "id": "a3f1c2d4-8e7b-4a9f-b6c1-2d3e4f5a6b7c",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f8c-4b0a-c7d2-3e4f5a6b7c8d",
      "name": "Query HubSpot Campaign Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName,\n  COUNTIF(event_type = 'DELIVERED')    AS emails_sent,\n  COUNTIF(event_type = 'OPEN')         AS opens,\n  COUNTIF(event_type = 'CLICK')        AS clicks,\n  COUNTIF(event_type = 'UNSUBSCRIBE')  AS unsubscribes,\n  ROUND(SAFE_DIVIDE(\n    COUNTIF(event_type = 'OPEN'),\n    COUNTIF(event_type = 'DELIVERED')\n  ) * 100, 2) AS open_rate_pct,\n  ROUND(SAFE_DIVIDE(\n    COUNTIF(event_type = 'CLICK'),\n    COUNTIF(event_type = 'OPEN')\n  ) * 100, 2) AS click_to_open_rate_pct\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 7 DAY)\n  AND campaignName IS NOT NULL\nGROUP BY campaignName\nHAVING emails_sent > 0\nORDER BY emails_sent DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a9d-4c1b-d8e3-4f5a6b7c8d9e",
      "name": "Aggregate Campaign Data",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        680,
        180
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "campaigns",
        "include": "allFields"
      }
    },
    {
      "id": "d6a4f5b7-1b0e-4d2c-e9f4-5a6b7c8d9e0f",
      "name": "Generate AI Insights",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        900,
        180
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json.campaigns, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a senior marketing analyst at a SaaS company. Analyze HubSpot email campaign performance data and return exactly 3 bullet points. Each bullet must start with a bullet symbol and be on its own line. Cover: (1) the top performing campaign by open rate, (2) the most underperforming campaign by open rate among those with more than 100 emails sent, and (3) one specific actionable recommendation for the team. Be concise and data-driven -- always include campaign names and exact numbers."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Here is the HubSpot email campaign performance data for the past 7 days:\n\n{{ $json.campaigns }}\n\nProvide a 3-bullet insight summary highlighting top and underperforming campaigns."
            }
          ]
        }
      }
    },
    {
      "id": "e7b5a6c8-2c1f-4e3d-f0a5-6b7c8d9e0f1a",
      "name": "Gemini LM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        380
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "f8c6b7d9-3d2a-4f4e-a1b6-7c8d9e0f1a2b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-insights"
        },
        "messageType": "text",
        "text": "=*:bar_chart: HubSpot Email Campaign Insights -- Last 7 Days*\n\n{{ $json.text }}\n\n_Generated by Gemini AI | {{ $now.toFormat('EEEE, MMMM d yyyy') }}_"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "a9d7c8e0-4e3b-4a5f-b2c7-8d9e0f1a2b3c",
      "name": "Write Raw Metrics to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        680,
        420
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Campaign Metrics"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "Query HubSpot Campaign Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query HubSpot Campaign Metrics": {
      "main": [
        [
          {
            "node": "Aggregate Campaign Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write Raw Metrics to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Campaign Data": {
      "main": [
        [
          {
            "node": "Generate AI Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Insights": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini LM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}