feedback-loop/candidates/marketing/harvested_marketing_005_workflow.json
{
  "name": "Weekly Conference Campaign & Email Marketing Summary",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Every Monday 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3f4d5e6f7a",
      "name": "SF - Conference Campaigns Next 30 Days",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        480,
        200
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "SELECT Id, Name, Type, StartDate, EndDate, Status, Description, NumberOfLeads, NumberOfOpportunities, ExpectedRevenue FROM Campaign WHERE Type = 'Conference' AND StartDate >= TODAY AND StartDate <= NEXT_N_DAYS:30 ORDER BY StartDate ASC"
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a7d-4c9e-b1f2-3d4a5e6f7b8c",
      "name": "BQ - HubSpot Email Metrics",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        420
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName,\n  COUNT(*) AS total_events,\n  COUNTIF(event_type = 'OPEN') AS opens,\n  COUNTIF(event_type = 'CLICK') AS clicks,\n  COUNTIF(event_type = 'DELIVERED') AS delivered,\n  COUNTIF(event_type = 'BOUNCE') AS bounces,\n  SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'), COUNTIF(event_type = 'DELIVERED')) AS open_rate,\n  SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), COUNTIF(event_type = 'OPEN')) AS click_to_open_rate,\n  COUNT(DISTINCT recipient) AS unique_recipients\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 90 DAY)\nGROUP BY campaignName\nORDER BY total_events DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "d6a4f5b7-1b8e-4d0f-c2a3-4e5b6f7c8d9e",
      "name": "Merge SF and BQ Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition"
      }
    },
    {
      "id": "e7b5a6c8-2c9f-4e1a-d3b4-5f6c7a8d9e0f",
      "name": "Aggregate All Data for AI",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allData",
        "options": {}
      }
    },
    {
      "id": "f8c6b7d9-3d0a-4f2b-e4c5-6a7d8b9e0f1a",
      "name": "Gemini - Strategic Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "=SALESFORCE CONFERENCE CAMPAIGNS (next 30 days):\n{{ JSON.stringify($json.allData.filter(d => d.Id), null, 2) }}\n\nHUBSPOT EMAIL METRICS (last 90 days):\n{{ JSON.stringify($json.allData.filter(d => d.campaignName), null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a marketing strategist at Guesty. Analyze the following data and produce a concise strategic summary (max 400 words) comparing upcoming conference pipeline with email marketing engagement. Identify which conferences have strong email support, which are under-marketed, and give 2-3 actionable recommendations. Use plain text with clear sections: OVERVIEW, CONFERENCE PIPELINE, EMAIL ENGAGEMENT, RECOMMENDATIONS."
            }
          ]
        }
      }
    },
    {
      "id": "a1d7c8e0-4e1b-4a3c-f5d6-7b8e9c0f1a2b",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 1024
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "b2e8d9f1-5f2c-4b4d-a6e7-8c9f0d1a2b3c",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        180
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "mode": "url",
          "value": "YOUR_GOOGLE_SHEET_URL_HERE"
        },
        "sheetName": {
          "mode": "name",
          "value": "Conference Campaigns"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Run Date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "AI Summary": "={{ $json.text }}",
            "SF Campaigns JSON": "={{ JSON.stringify($('Aggregate All Data for AI').item.json.allData.filter(d => d.Id)) }}",
            "Email Metrics JSON": "={{ JSON.stringify($('Aggregate All Data for AI').item.json.allData.filter(d => d.campaignName)) }}"
          }
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      }
    },
    {
      "id": "c3f9e0a2-6a3d-4c5e-b7f8-9d0a1b2c3d4e",
      "name": "Post to #marketing-events",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-events"
        },
        "messageType": "text",
        "text": "=:bar_chart: *Weekly Conference & Email Marketing Summary*\n_Generated {{ $now.toFormat('MMMM d, yyyy') }}_\n\n{{ $json.text }}\n\n_Data: Salesforce Conference Campaigns (next 30 days) + HubSpot Email Metrics (last 90 days)_",
        "otherOptions": {}
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 8am UTC": {
      "main": [
        [
          {
            "node": "SF - Conference Campaigns Next 30 Days",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - HubSpot Email Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF - Conference Campaigns Next 30 Days": {
      "main": [
        [
          {
            "node": "Merge SF and BQ Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - HubSpot Email Metrics": {
      "main": [
        [
          {
            "node": "Merge SF and BQ Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge SF and BQ Data": {
      "main": [
        [
          {
            "node": "Aggregate All Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Data for AI": {
      "main": [
        [
          {
            "node": "Gemini - Strategic Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini - Strategic Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Strategic Summary": {
      "main": [
        [
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to #marketing-events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}