feedback-loop/candidates/marketing/harvested_marketing_004_workflow.json
{
  "name": "HubSpot Email Campaign Insights -- Daily",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0e-1b2d3e4f5a6b",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b7e2d3f5-9a6c-4b8d-0e1f-2c3d4e5f6a7b",
      "name": "Query HubSpot Email Campaigns",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  campaignName,\n  COUNT(DISTINCT recipient) AS emails_sent,\n  COUNTIF(event_type = 'OPEN') AS opens,\n  COUNTIF(event_type = 'CLICK') AS clicks,\n  COUNTIF(event_type = 'UNSUBSCRIBE') AS unsubscribes,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'OPEN'), NULLIF(COUNT(DISTINCT recipient), 0)) * 100, 1) AS open_rate_pct,\n  ROUND(SAFE_DIVIDE(COUNTIF(event_type = 'CLICK'), NULLIF(COUNT(DISTINCT recipient), 0)) * 100, 1) AS click_rate_pct\nFROM `guesty-data.marketing_data.hubspot_emails_events`\nWHERE event_created_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 7 DAY)\n  AND campaignName IS NOT NULL\nGROUP BY campaignName\nORDER BY emails_sent DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c8f3e4a6-0b7d-4c9e-1f2a-3d4e5f6a7b8c",
      "name": "Aggregate Campaign Rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        180
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "campaigns",
        "include": "allFields"
      }
    },
    {
      "id": "d9a4f5b7-1c8e-4d0f-2a3b-4e5f6a7b8c9d",
      "name": "Gemini Insight Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        960,
        180
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.campaigns.map(c => 'Campaign: ' + c.campaignName + ' | Sent: ' + c.emails_sent + ' | Opens: ' + c.opens + ' (' + c.open_rate_pct + '%) | Clicks: ' + c.clicks + ' (' + c.click_rate_pct + '%) | Unsubscribes: ' + c.unsubscribes).join('\\n') }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a marketing analyst. Analyze HubSpot email campaign data and return exactly 3 bullet points.\n\nBullet 1: Top performing campaign (highest open rate) with key stats.\nBullet 2: Underperforming campaign (lowest open rate, minimum 100 emails sent) with key stats.\nBullet 3: A notable trend or actionable insight across all campaigns.\n\nFormat each bullet starting with a dash (-). Be concise and specific. Include actual numbers. Do not add any intro or outro text -- return only the 3 bullets."
            }
          ]
        }
      }
    },
    {
      "id": "e0b5a6c8-2d9f-4e1a-3b4c-5f6a7b8c9d0e",
      "name": "Gemini LM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        380
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "LL8fLgZSrUn8oZtV",
          "name": "Google Gemini Guesty n8n Marketing"
        }
      }
    },
    {
      "id": "f1c6b7d9-3e0a-4f2b-4c5d-6a7b8c9d0e1f",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1200,
        180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-insights"
        },
        "text": "=*:bar_chart: HubSpot Email Campaign Insights -- Last 7 Days*\n\n{{ $json.text }}\n\n_Data as of {{ $now.toFormat('MMMM d, yyyy') }} | Source: BigQuery marketing_data_",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "a2d7c8e0-4f1b-4a3c-5d6e-7b8c9d0e1f2a",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        420
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "sheetName": {
          "mode": "name",
          "value": "Email Campaign Metrics"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "Query HubSpot Email Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query HubSpot Email Campaigns": {
      "main": [
        [
          {
            "node": "Aggregate Campaign Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Campaign Rows": {
      "main": [
        [
          {
            "node": "Gemini Insight Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Insight Summary": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini LM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}