feedback-loop/candidates/ob/harvested_ob_001_workflow.json
{
  "name": "Onboarding Escalation Report - Daily",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 10am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Onboarding Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  COUNT(ticket_id) AS open_ticket_count,\n  MIN(created_at) AS oldest_ticket_date,\n  STRING_AGG(DISTINCT assignee_name ORDER BY assignee_name LIMIT 5) AS assignees\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status = 'open'\n  AND group_name = 'Onboarding'\n  AND created_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 5 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\n  AND account_name IS NOT NULL\nGROUP BY account_name\nORDER BY open_ticket_count DESC, oldest_ticket_date ASC\nLIMIT 100",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "jTPSwPeDuM4ipl69",
          "name": "(OB) Service Account - AI Team"
        }
      }
    },
    {
      "id": "3d594a8e-1c2f-4b8a-9f3e-6a7b8c9d0e1f",
      "name": "Any Escalations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c9d8e7f6-a5b4-4c3d-2e1f-0a9b8c7d6e5f",
              "leftValue": "={{ $json.open_ticket_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "e1d2c3b4-a5f6-4e7d-8c9b-0a1b2c3d4e5f",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        220
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: { message: 'No escalations today.' } }];\n}\n\nconst today = new Date().toLocaleDateString('en-US', {\n  month: 'short', day: 'numeric', year: 'numeric', timeZone: 'UTC'\n});\n\nconst lines = items.map(function(item) {\n  var d = item.json;\n  var oldest = new Date(d.oldest_ticket_date).toLocaleDateString('en-US', {\n    month: 'short', day: 'numeric', year: 'numeric', timeZone: 'UTC'\n  });\n  var count = Number(d.open_ticket_count);\n  var ticketWord = count === 1 ? 'ticket' : 'tickets';\n  var agents = d.assignees || 'Unassigned';\n  return '- *' + d.account_name + '* -- ' + count + ' ' + ticketWord + ' | Oldest: ' + oldest + ' | Agents: ' + agents;\n});\n\nvar totalTickets = items.reduce(function(sum, i) {\n  return sum + Number(i.json.open_ticket_count);\n}, 0);\nvar totalAccounts = items.length;\n\nvar header = ':rotating_light: *Onboarding Escalation Report* -- ' + today;\nvar subheader = 'Open tickets older than 5 days in the Onboarding queue:';\nvar footer = '*Total: ' + totalAccounts + ' account' + (totalAccounts === 1 ? '' : 's') + ' | ' + totalTickets + ' ticket' + (totalTickets === 1 ? '' : 's') + ' need attention.*';\n\nvar message = [header, subheader, ''].concat(lines).concat(['', footer]).join('\\n');\n\nreturn [{ json: { message: message } }];"
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Post to #ob-escalations",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#ob-escalations"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "BXeGv4HZaOauuct6",
          "name": "Slack - AI Team (Kurt)"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 10am UTC": {
      "main": [
        [
          {
            "node": "Query Onboarding Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Onboarding Tickets": {
      "main": [
        [
          {
            "node": "Any Escalations?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Escalations?": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Post to #ob-escalations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}