feedback-loop/candidates/cs/harvested_cs_001_workflow.json
{
  "name": "Salesforce Renewal Opportunity Alert",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Salesforce Trigger",
      "type": "n8n-nodes-base.salesforceTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "triggerOn": "opportunityUpdated"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Salesforce SOQL",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "=SELECT Id, StageName, RecordType.Name, Account.Name, Account.Guesty_Admin_ID__c FROM Opportunity WHERE Id = '{{ $json.Id }}'"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      }
    },
    {
      "id": "a1f3c2e4-9b7d-4e6f-8a0b-1c2d3e4f5a6b",
      "name": "Filter Renewals Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
              "leftValue": "={{ $json.RecordType.Name }}",
              "rightValue": "Renewal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "b2e4d6f8-0a1c-4b3d-9e5f-7a8b9c0d1e2f",
      "name": "BigQuery Churn Data",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "=SELECT c.account_id, c.account_name, c.churn_reason, m.last_month_paid_listings AS max_paid_listings FROM `guesty-data.csm.csm_churn_report` c LEFT JOIN `guesty-data.csm.mrr_calculator` m ON c.account_id = m.account_id WHERE c.account_id = '{{ $('Filter Renewals Only').item.json.Account.Guesty_Admin_ID__c }}' LIMIT 1"
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "d4f6a8c0-2b3e-4d5f-a7b9-8c0d1e2f3a4b",
      "name": "Slack Renewal Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-renewals"
        },
        "text": "=*Renewal Opportunity Updated*\n\n*Account:* {{ $('Salesforce SOQL').item.json.Account.Name }}\n*Stage:* {{ $('Salesforce SOQL').item.json.StageName }}\n*Guesty Admin ID:* {{ $('Salesforce SOQL').item.json.Account.Guesty_Admin_ID__c }}\n\n*Churn Reason:* {{ $json.churn_reason ?? 'N/A' }}\n*Max Paid Listings:* {{ $json.max_paid_listings ?? 'N/A' }}"
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack account 77"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Salesforce Trigger": {
      "main": [
        [
          {
            "node": "Salesforce SOQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salesforce SOQL": {
      "main": [
        [
          {
            "node": "Filter Renewals Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Renewals Only": {
      "main": [
        [
          {
            "node": "BigQuery Churn Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BigQuery Churn Data": {
      "main": [
        [
          {
            "node": "Slack Renewal Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}