feedback-loop/candidates/cs/harvested_cs_004_workflow.json
{
  "name": "Churn Alert -- Renewal Declined Opportunities",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Every Day at 6pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Get Updated Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "SELECT Id, Name, StageName, Last_Stage__c, Churn_Date__c, RecordTypeId, Account.Name, Account.Account_Owner_F__c, Account.Average_MRR__c, Account.Guesty_Admin_ID__c FROM Opportunity WHERE RecordTypeId = '0125p000001101UAAQ' AND Last_Stage__c LIKE '%declined%' AND Churn_Date__c > 2024-01-01T00:00:00Z AND LastModifiedDate >= LAST_N_DAYS:1 ORDER BY LastModifiedDate DESC LIMIT 200"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read - Cross Dept"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "3d594a8e-1b2c-4f5d-9e6a-7b8c9d0e1f2a",
      "name": "Any Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1f2e3d4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
              "leftValue": "={{ $json.totalSize }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "9b8a7c6d-5e4f-4a3b-2c1d-0e9f8a7b6c5d",
      "name": "Split Opportunities",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        900,
        220
      ],
      "parameters": {
        "fieldToSplitOut": "records",
        "include": "noOtherFields"
      }
    },
    {
      "id": "2e3f4a5b-6c7d-4e8f-9a0b-1c2d3e4f5a6b",
      "name": "Get Max Paid Listings",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        1120,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "=SELECT account_id, account_name, MAX(last_month_paid_listings) AS max_paid_listings FROM `guesty-data.csm.csm_churn_report` WHERE account_id = '{{ $json.Account.Guesty_Admin_ID__c }}' GROUP BY account_id, account_name LIMIT 1"
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
      "name": "Post Churn Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1340,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-notifications"
        },
        "text": "={{ '[CHURN ALERT] Renewal Declined\\n\\nAccount: ' + $('Split Opportunities').item.json.Account.Name + '\\nAccount Owner: ' + $('Split Opportunities').item.json.Account.Account_Owner_F__c + '\\nAvg MRR: $' + $('Split Opportunities').item.json.Account.Average_MRR__c + '\\nChurn Date: ' + $('Split Opportunities').item.json.Churn_Date__c + '\\nLast Stage: ' + $('Split Opportunities').item.json.Last_Stage__c + '\\nOpportunity: ' + $('Split Opportunities').item.json.Name + '\\nMax Paid Listings: ' + ($json.max_paid_listings ?? 'N/A') + '\\nGuesty Admin ID: ' + $('Split Opportunities').item.json.Account.Guesty_Admin_ID__c }}"
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Every Day at 6pm": {
      "main": [
        [
          {
            "node": "Get Updated Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Updated Opportunities": {
      "main": [
        [
          {
            "node": "Any Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Results?": {
      "main": [
        [
          {
            "node": "Split Opportunities",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Opportunities": {
      "main": [
        [
          {
            "node": "Get Max Paid Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Max Paid Listings": {
      "main": [
        [
          {
            "node": "Post Churn Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}