feedback-loop/candidates/cs/harvested_cs_002_workflow.json
{
  "name": "Daily Churn Report - #cs-churn-alerts",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3d4e5f6a7b",
      "name": "Query Churn Report",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  c.account_name,\n  c.from_date           AS churn_date,\n  c.churn_reason_modified,\n  c.customer_churn_reason,\n  c.csm,\n  c.avg_mrr,\n  c.account_segmentation,\n  c.geo_area,\n  c.churn_type\nFROM `guesty-data.csm.csm_churn_report` c\nWHERE c.from_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nORDER BY c.from_date DESC\nLIMIT 50",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a7d-4c9e-b1f2-3d4e5f6a7b8c",
      "name": "Any Churns Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d6a4f5b7-1b8e-4d0f-c2a3-4e5f6a7b8c9d",
              "leftValue": "={{ $json.account_name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "e7b5a6c8-2c9f-4e1a-d3b4-5f6a7b8c9d0e",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        180
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nconst count = rows.length;\n\nlet lines = ':rotating_light: *Churn Report -- Last 30 Days* (' + count + ' account' + (count === 1 ? '' : 's') + ')\\n\\n';\n\nfor (const item of rows) {\n  const r = item.json;\n  const name = r.account_name || 'Unknown';\n  const date = r.churn_date || 'N/A';\n  const reason = r.churn_reason_modified || 'N/A';\n  const csm = r.csm || 'N/A';\n  const mrr = r.avg_mrr ? '$' + Math.round(r.avg_mrr).toLocaleString() : '$0';\n  const seg = r.account_segmentation || '';\n  const geo = r.geo_area || '';\n  lines += '- *' + name + '* | ' + date + ' | ' + reason + ' | CSM: ' + csm + ' | MRR: ' + mrr + ' | ' + seg + ' | ' + geo + '\\n';\n}\n\nreturn [{ json: { slack_text: lines } }];"
      }
    },
    {
      "id": "a9d7c8e0-4e1b-4a3c-f5d6-7b8c9d0e1f2a",
      "name": "Post Churn Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-alerts"
        },
        "text": "={{ $json.slack_text }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "b0e8d9f1-5f2c-4b4d-a6e7-8c9d0e1f2a3b",
      "name": "Post No Churns Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-alerts"
        },
        "text": ":white_check_mark: *Churn Report -- Last 30 Days*\n\nNo new churns recorded in the last 30 days.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Churn Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Churn Report": {
      "main": [
        [
          {
            "node": "Any Churns Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Churns Found?": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post No Churns Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post Churn Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}