feedback-loop/candidates/cs/harvested_cs_013_workflow.json
{
  "name": "Workflow 2 - ZD Master Sheet to Zendesk Ticket",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -400
      ],
      "id": "a1f3c2e4-7b8d-4e9f-b0c1-d2e3f4a5b6c7",
      "name": "Run Manually"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "103-8hxYCbPXk0Zl_dJLUpp0eeY4lyRt6r3-p3eXqZBY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1360,
        -400
      ],
      "id": "b2e4d6f8-9a0b-4c1d-e2f3-a4b5c6d7e8f9",
      "name": "Read ZD Master Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q3XVQiSUNn6QTd3Y",
          "name": "Google Sheets account 69"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c3f5e7a9-0b1c-4d2e-f3a4-b5c6d7e8f9a0",
              "leftValue": "={{ $json['ZD Ticket ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "d4a6b8c0-1c2d-4e3f-a4b5-c6d7e8f9a0b1",
              "leftValue": "={{ $json['Requester Email'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1120,
        -400
      ],
      "id": "e5b7d9f1-2d3e-4f5a-b6c7-d8e9f0a1b2c3",
      "name": "Filter Unprocessed Rows"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        -400
      ],
      "id": "f6c8e0a2-3e4f-4a5b-c7d8-e9f0a1b2c3d4",
      "name": "Loop Over Rows"
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAll",
        "returnAll": false,
        "limit": 1,
        "options": {
          "fields": "Main_Contact_Email__c, Guesty_Admin_ID__c",
          "conditionsUi": {
            "conditionValues": [
              {
                "field": "Guesty_Admin_ID__c",
                "value": "={{ $json['Guesty ID'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -640,
        -400
      ],
      "id": "a7d9f1b3-4f5a-4b6c-d8e9-f0a1b2c3d4e5",
      "name": "Get SF Main Contact Email",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read - Cross Dept"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8e0a2c4-5a6b-4c7d-e9f0-a1b2c3d4e5f6",
              "name": "sf_main_contact_email",
              "value": "={{ $json.Main_Contact_Email__c }}",
              "type": "string"
            },
            {
              "id": "c9f1b3d5-6b7c-4d8e-f0a1-b2c3d4e5f6a7",
              "name": "requester_email",
              "value": "={{ $('Loop Over Rows').item.json['Requester Email'] }}",
              "type": "string"
            },
            {
              "id": "d0a2c4e6-7c8d-4e9f-a1b2-c3d4e5f6a7b8",
              "name": "subject",
              "value": "={{ $('Loop Over Rows').item.json['Subject'] }}",
              "type": "string"
            },
            {
              "id": "e1b3d5f7-8d9e-4f0a-b2c3-d4e5f6a7b8c9",
              "name": "message_body",
              "value": "={{ $('Loop Over Rows').item.json['Message Body'] }}",
              "type": "string"
            },
            {
              "id": "f2c4e6a8-9e0f-4a1b-c3d4-e5f6a7b8c9d0",
              "name": "row_number",
              "value": "={{ $('Loop Over Rows').item.json['row_number'] }}",
              "type": "number"
            },
            {
              "id": "a3d5f7b9-0f1a-4b2c-d4e5-f6a7b8c9d0e1",
              "name": "guesty_id",
              "value": "={{ $('Loop Over Rows').item.json['Guesty ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -400
      ],
      "id": "b4e6a8c0-1a2b-4c3d-e5f6-a7b8c9d0e1f2",
      "name": "Prepare Row Data"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://guesty3396.zendesk.com/api/v2/users/search.json?query=email:{{ encodeURIComponent($json.sf_main_contact_email) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -560
      ],
      "id": "c5f7b9d1-2b3c-4d4e-f6a7-b8c9d0e1f2a3",
      "name": "ZD Lookup - Author (SF Contact)",
      "credentials": {
        "oAuth2Api": {
          "id": "B1ksdYFDJ8LJKaTJ",
          "name": "Zendesk Production - Read - OAuth2 Generic - Cross Dept"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://guesty3396.zendesk.com/api/v2/users/search.json?query=email:{{ encodeURIComponent($('Prepare Row Data').item.json.requester_email) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        -240
      ],
      "id": "d6a8c0e2-3c4d-4e5f-a7b8-c9d0e1f2a3b4",
      "name": "ZD Lookup - Requester (Contact Email)",
      "credentials": {
        "oAuth2Api": {
          "id": "B1ksdYFDJ8LJKaTJ",
          "name": "Zendesk Production - Read - OAuth2 Generic - Cross Dept"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7b9d1f3-4d5e-4f6a-b8c9-d0e1f2a3b4c5",
              "name": "author_zd_id",
              "value": "={{ $('ZD Lookup - Author (SF Contact)').item.json.users[0].id }}",
              "type": "number"
            },
            {
              "id": "f8c0e2a4-5e6f-4a7b-c9d0-e1f2a3b4c5d6",
              "name": "requester_zd_id",
              "value": "={{ $json.users[0].id }}",
              "type": "number"
            },
            {
              "id": "a9d1f3b5-6f7a-4b8c-d0e1-f2a3b4c5d6e7",
              "name": "subject",
              "value": "={{ $('Prepare Row Data').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "b0e2a4c6-7a8b-4c9d-e1f2-a3b4c5d6e7f8",
              "name": "message_body",
              "value": "={{ $('Prepare Row Data').item.json.message_body }}",
              "type": "string"
            },
            {
              "id": "c1f3b5d7-8b9c-4d0e-f2a3-b4c5d6e7f8a9",
              "name": "row_number",
              "value": "={{ $('Prepare Row Data').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -400
      ],
      "id": "d2a4c6e8-9c0d-4e1f-a3b4-c5d6e7f8a9b0",
      "name": "Merge ZD IDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://guesty3396.zendesk.com/api/v2/tickets.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "oAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"ticket\": {\n    \"subject\": \"{{ $json.subject }}\",\n    \"comment\": {\n      \"body\": \"{{ $json.message_body }}\",\n      \"public\": true,\n      \"author_id\": {{ $json.author_zd_id }}\n    },\n    \"requester_id\": {{ $json.requester_zd_id }},\n    \"status\": \"pending\",\n    \"brand_id\": 7218885869213,\n    \"ticket_form_id\": 7776278584221,\n    \"group_id\": 33412708980253,\n    \"custom_fields\": [\n      { \"id\": 8665992190493, \"value\": \"domain_related\" },\n      { \"id\": 7776207191197, \"value\": \"billing\" },\n      { \"id\": 17206535281309, \"value\": \"billing_history\" },\n      { \"id\": 8361550342301, \"value\": \"not_relevant\" }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -400
      ],
      "id": "e3b5d7f9-0d1e-4f2a-b4c5-d6e7f8a9b0c1",
      "name": "Create ZD Ticket",
      "credentials": {
        "oAuth2Api": {
          "id": "B1ksdYFDJ8LJKaTJ",
          "name": "Zendesk Production - Read - OAuth2 Generic - Cross Dept"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "103-8hxYCbPXk0Zl_dJLUpp0eeY4lyRt6r3-p3eXqZBY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ZD Ticket ID": "={{ $json.ticket.id }}",
            "ZD Ticket URL": "=https://guesty3396.zendesk.com/agent/tickets/{{ $json.ticket.id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            },
            {
              "id": "ZD Ticket ID",
              "displayName": "ZD Ticket ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ZD Ticket URL",
              "displayName": "ZD Ticket URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        -400
      ],
      "id": "f4c6e8a0-1e2f-4a3b-c5d6-e7f8a9b0c1d2",
      "name": "Write Ticket ID to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q3XVQiSUNn6QTd3Y",
          "name": "Google Sheets account 69"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        -400
      ],
      "id": "a5d7f9b1-2f3a-4b4c-d6e7-f8a9b0c1d2e3",
      "name": "Back to Loop",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Read ZD Master Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ZD Master Sheet": {
      "main": [
        [
          {
            "node": "Filter Unprocessed Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unprocessed Rows": {
      "main": [
        [
          {
            "node": "Loop Over Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Rows": {
      "main": [
        [],
        [
          {
            "node": "Get SF Main Contact Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SF Main Contact Email": {
      "main": [
        [
          {
            "node": "Prepare Row Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Row Data": {
      "main": [
        [
          {
            "node": "ZD Lookup - Author (SF Contact)",
            "type": "main",
            "index": 0
          },
          {
            "node": "ZD Lookup - Requester (Contact Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZD Lookup - Author (SF Contact)": {
      "main": [
        [
          {
            "node": "Merge ZD IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZD Lookup - Requester (Contact Email)": {
      "main": [
        [
          {
            "node": "Merge ZD IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ZD IDs": {
      "main": [
        [
          {
            "node": "Create ZD Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ZD Ticket": {
      "main": [
        [
          {
            "node": "Write Ticket ID to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Ticket ID to Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}