feedback-loop/candidates/cs/harvested_cs_005_workflow.json
{
  "name": "CS Ticket Aging Report - Daily Slack",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  account_segment,\n  COUNT(ticket_id) AS ticket_count,\n  MIN(created_at) AS oldest_ticket_date,\n  STRING_AGG(DISTINCT assignee_name ORDER BY assignee_name LIMIT 3) AS assignees\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status IN ('open', 'pending')\n  AND created_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\n  AND account_name IS NOT NULL\nGROUP BY account_name, account_segment\nORDER BY ticket_count DESC\nLIMIT 100",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "3d594a5e-1b2f-4c8d-9e0f-a1b2c3d4e5f6",
      "name": "Format Slack Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e",
              "name": "slackLine",
              "value": "={{ '*' + $json.account_name + '*' + ($json.account_segment ? ' [' + $json.account_segment + ']' : '') + ' -- ' + $json.ticket_count + ' ticket(s) -- oldest: ' + $json.oldest_ticket_date.substring(0, 10) + ($json.assignees ? ' -- agents: ' + $json.assignees : '') }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "9a8b7c6d-5e4f-4a3b-2c1d-0e9f8a7b6c5d",
      "name": "Aggregate Report Lines",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "rows",
        "include": "specifiedFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "slackLine"
            }
          ]
        }
      }
    },
    {
      "id": "1e2f3a4b-5c6d-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-ticket-aging"
        },
        "text": "={{ ':ticket: *Zendesk Ticket Aging Report -- ' + new Date().toISOString().substring(0, 10) + '*\\n:clock7: Open/Pending tickets older than 7 days, grouped by account\\n\\n' + $json.rows.map(r => r.slackLine).join('\\n') + '\\n\\n_Top ' + $json.rows.length + ' accounts shown. Run daily at 9am UTC._' }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Format Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Report": {
      "main": [
        [
          {
            "node": "Aggregate Report Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Report Lines": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}