feedback-loop/candidates/cs/harvested_cs_004_workflow.json
{
  "name": "Churn Alert -- Renewal Declined Opportunities",
  "nodes": [
    {
      "id": "a3f1c2d4-8e7b-4a9c-b1d2-e3f4a5b6c7d8",
      "name": "Daily 6PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f8c-4b0d-c2e3-f4a5b6c7d8e9",
      "name": "SF: Get Updated Renewal Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "SELECT Id, Name, RecordTypeId, StageName, Last_Stage__c, Churn_Date__c, LastModifiedDate, Account.Name, Account.Account_Owner_F__c, Account.Average_MRR__c, Account.Guesty_Admin_ID__c FROM Opportunity WHERE RecordTypeId = '0125p000001101UAAQ' AND Last_Stage__c LIKE '%declined%' AND Churn_Date__c > 2024-01-01T00:00:00Z AND LastModifiedDate >= LAST_N_DAYS:1 ORDER BY LastModifiedDate DESC"
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read - Cross Dept"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a9d-4c1e-d3f4-a5b6c7d8e9f0",
      "name": "BQ: Get Max Paid Listings",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        720,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "=SELECT account_id, account_name, MAX(last_month_paid_listings) AS max_paid_listings FROM `guesty-data.csm.mrr_calculator` WHERE account_id = '{{ $json.Account.Guesty_Admin_ID__c }}' GROUP BY account_id, account_name LIMIT 1"
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "d6a4f5b7-1b0e-4d2f-e4a5-b6c7d8e9f0a1",
      "name": "Slack: Post Churn Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-notifications"
        },
        "text": "=:rotating_light: *Churn Alert -- Renewal Declined*\n\n*Account:* {{ $('SF: Get Updated Renewal Opportunities').item.json.Account.Name }}\n*Account Owner:* {{ $('SF: Get Updated Renewal Opportunities').item.json.Account.Account_Owner_F__c }}\n*Avg MRR:* ${{ $('SF: Get Updated Renewal Opportunities').item.json.Account.Average_MRR__c }}\n*Churn Date:* {{ $('SF: Get Updated Renewal Opportunities').item.json.Churn_Date__c }}\n*Last Stage:* {{ $('SF: Get Updated Renewal Opportunities').item.json.Last_Stage__c }}\n*Opportunity:* {{ $('SF: Get Updated Renewal Opportunities').item.json.Name }}\n*Max Paid Listings:* {{ $json.max_paid_listings ?? 'N/A' }}\n*Guesty Admin ID:* {{ $('SF: Get Updated Renewal Opportunities').item.json.Account.Guesty_Admin_ID__c }}"
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      }
    }
  ],
  "connections": {
    "Daily 6PM Trigger": {
      "main": [
        [
          {
            "node": "SF: Get Updated Renewal Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SF: Get Updated Renewal Opportunities": {
      "main": [
        [
          {
            "node": "BQ: Get Max Paid Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ: Get Max Paid Listings": {
      "main": [
        [
          {
            "node": "Slack: Post Churn Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}