feedback-loop/candidates/cs/harvested_cs_001_workflow.json
{
  "name": "Daily Zendesk Ticket Aging Report",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  COUNT(ticket_id)                          AS open_ticket_count,\n  MIN(DATE(created_at))                     AS oldest_ticket_date,\n  COUNTIF(status = 'open')                  AS open_count,\n  COUNTIF(status = 'pending')               AS pending_count\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE status IN ('open', 'pending')\n  AND created_at < TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND account_name IS NOT NULL\nGROUP BY account_name\nORDER BY open_ticket_count DESC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read"
        }
      }
    },
    {
      "id": "3d594a5e-1b2f-4c8e-9f1a-6b7c8d9e0f1a",
      "name": "Format Slack Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nconst today = new Date().toISOString().slice(0, 10);\n\nif (rows.length === 0) {\n  return [{\n    json: {\n      message: ':white_check_mark: *Daily Ticket Aging Report* -- ' + today + '\\nNo open or pending tickets older than 7 days. All clear!'\n    }\n  }];\n}\n\nconst lines = rows.map(item => {\n  const d = item.json;\n  return ':red_circle: *' + d.account_name + '* -- ' + d.open_ticket_count + ' ticket(s) (open: ' + d.open_count + ', pending: ' + d.pending_count + ') | Oldest: ' + d.oldest_ticket_date;\n});\n\nconst header = ':rotating_light: *Daily Ticket Aging Report* -- ' + today + '\\n_Tickets open or pending, created more than 7 days ago_\\n';\nconst footer = '\\n_Total accounts affected: ' + rows.length + '_';\n\nreturn [{\n  json: {\n    message: header + '\\n' + lines.join('\\n') + footer\n  }\n}];"
      }
    },
    {
      "id": "9a1b2c3d-4e5f-6789-abcd-ef0123456789",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-ticket-aging"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack account 77"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Format Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Report": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}