feedback-loop/candidates/cs/harvested_cs_009_workflow.json
{
  "name": "Churn Alert - Renewal Declined Opportunities",
  "nodes": [
    {
      "id": "a1f2e3d4-b5c6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Every Day at 6pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Salesforce - Poll Updated Renewal Opps",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "SELECT Id, Name, StageName, RecordTypeId, Last_Stage__c, Churn_Date__c, LastModifiedDate, AccountId, Account.Name, Account.Account_Owner_F__c, Account.Average_MRR__c, Account.Guesty_Admin_ID__c FROM Opportunity WHERE RecordTypeId = '0125p000001101UAAQ' AND (Last_Stage__c LIKE '%declined%' OR Last_Stage__c LIKE '%Declined%') AND Churn_Date__c > 2024-01-01T00:00:00Z AND LastModifiedDate >= LAST_N_DAYS:1"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read - Cross Dept"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Filter - Declined Renewals After 2024",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1a2b3d4-e5f6-4a7b-8c9d-1e2f3a4b5c6d",
              "leftValue": "={{ $json.RecordTypeId }}",
              "rightValue": "0125p000001101UAAQ",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d2e3f4a5-b6c7-4d8e-9f0a-2b3c4d5e6f7a",
              "leftValue": "={{ $json.Last_Stage__c }}",
              "rightValue": "declined",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e3f4a5b6-c7d8-4e9f-0a1b-3c4d5e6f7a8b",
              "leftValue": "={{ $json.Churn_Date__c }}",
              "rightValue": "2024-01-01",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8a",
      "name": "BigQuery - Lookup Churn Report",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        900,
        220
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "=SELECT account_id, account_name, avg_mrr, churn_reason, churn_reason_modified, customer_churn_reason, churn_type, months_in_guesty, from_date FROM `guesty-data.csm.csm_churn_report` WHERE account_id = '{{ $json.Account.Guesty_Admin_ID__c }}' ORDER BY from_date DESC LIMIT 1",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8a9b",
      "name": "Set - Format Alert Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        220
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
              "name": "account_name",
              "value": "={{ $('Salesforce - Poll Updated Renewal Opps').item.json.Account.Name }}",
              "type": "string"
            },
            {
              "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
              "name": "account_owner",
              "value": "={{ $('Salesforce - Poll Updated Renewal Opps').item.json.Account.Account_Owner_F__c }}",
              "type": "string"
            },
            {
              "id": "b3c4d5e6-f7a8-4b9c-0d1e-2f3a4b5c6d7e",
              "name": "average_mrr",
              "value": "={{ $('Salesforce - Poll Updated Renewal Opps').item.json.Account.Average_MRR__c }}",
              "type": "string"
            },
            {
              "id": "c4d5e6f7-a8b9-4c0d-1e2f-3a4b5c6d7e8f",
              "name": "guesty_admin_id",
              "value": "={{ $('Salesforce - Poll Updated Renewal Opps').item.json.Account.Guesty_Admin_ID__c }}",
              "type": "string"
            },
            {
              "id": "d5e6f7a8-b9c0-4d1e-2f3a-4b5c6d7e8f9a",
              "name": "opportunity_name",
              "value": "={{ $('Salesforce - Poll Updated Renewal Opps').item.json.Name }}",
              "type": "string"
            },
            {
              "id": "e6f7a8b9-c0d1-4e2f-3a4b-5c6d7e8f9a0b",
              "name": "last_stage",
              "value": "={{ $('Salesforce - Poll Updated Renewal Opps').item.json.Last_Stage__c }}",
              "type": "string"
            },
            {
              "id": "f7a8b9c0-d1e2-4f3a-4b5c-6d7e8f9a0b1c",
              "name": "churn_date",
              "value": "={{ $('Salesforce - Poll Updated Renewal Opps').item.json.Churn_Date__c }}",
              "type": "string"
            },
            {
              "id": "a8b9c0d1-e2f3-4a4b-5c6d-7e8f9a0b1c2d",
              "name": "bq_avg_mrr",
              "value": "={{ $json.avg_mrr }}",
              "type": "string"
            },
            {
              "id": "b9c0d1e2-f3a4-4b5c-6d7e-8f9a0b1c2d3e",
              "name": "bq_churn_reason",
              "value": "={{ $json.churn_reason }}",
              "type": "string"
            },
            {
              "id": "c0d1e2f3-a4b5-4c6d-7e8f-9a0b1c2d3e4f",
              "name": "bq_churn_type",
              "value": "={{ $json.churn_type }}",
              "type": "string"
            },
            {
              "id": "d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
              "name": "bq_months_in_guesty",
              "value": "={{ $json.months_in_guesty }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Slack - Post Churn Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1340,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-notifications"
        },
        "text": "=:rotating_light: *Churn Alert -- Renewal Declined*\n\n*Account:* {{ $json.account_name }}\n*Account Owner:* {{ $json.account_owner }}\n*Average MRR (SF):* ${{ $json.average_mrr }}\n*Guesty Admin ID:* {{ $json.guesty_admin_id }}\n\n*Opportunity:* {{ $json.opportunity_name }}\n*Last Stage:* {{ $json.last_stage }}\n*Churn Date:* {{ $json.churn_date }}\n\n*BQ Avg MRR:* ${{ $json.bq_avg_mrr }}\n*Churn Reason:* {{ $json.bq_churn_reason }}\n*Churn Type:* {{ $json.bq_churn_type }}\n*Months in Guesty:* {{ $json.bq_months_in_guesty }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Every Day at 6pm": {
      "main": [
        [
          {
            "node": "Salesforce - Poll Updated Renewal Opps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salesforce - Poll Updated Renewal Opps": {
      "main": [
        [
          {
            "node": "Filter - Declined Renewals After 2024",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Declined Renewals After 2024": {
      "main": [
        [
          {
            "node": "BigQuery - Lookup Churn Report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "BigQuery - Lookup Churn Report": {
      "main": [
        [
          {
            "node": "Set - Format Alert Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Format Alert Fields": {
      "main": [
        [
          {
            "node": "Slack - Post Churn Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}