feedback-loop/candidates/cs/harvested_cs_008_workflow.json
{
  "name": "Daily Churn Report to Slack",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Churn Report",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  c.account_name,\n  c.from_date AS churn_date,\n  c.churn_reason_modified AS churn_reason,\n  c.customer_churn_reason,\n  c.churn_type,\n  c.csm,\n  c.manager,\n  c.account_segmentation,\n  ROUND(c.avg_mrr, 2) AS avg_mrr,\n  c.months_in_guesty,\n  c.geo_area,\n  c.account_country,\n  u.Name AS sf_account_owner\nFROM `guesty-data.csm.csm_churn_report` c\nLEFT JOIN `guesty-data.guesty_analytics.dim_accounts` da\n  ON c.account_id = da.account_id\nLEFT JOIN `guesty-data.salesforce.sf_account` sf\n  ON da.sf_account_id = sf.Id\nLEFT JOIN `guesty-data.salesforce.sf_users` u\n  ON sf.OwnerId = u.Id\nWHERE c.from_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nORDER BY c.from_date DESC\nLIMIT 50"
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "3d594a8e-1b2c-4f5d-9e6a-7b8c9d0e1f2a",
      "name": "Check Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.account_name }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "9e8d7c6b-5a4f-3e2d-1c0b-9a8b7c6d5e4f",
      "name": "Aggregate Rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        220
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "churn_rows",
        "include": "allFields"
      }
    },
    {
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        220
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.first().json.churn_rows;\n\nif (!rows || rows.length === 0) {\n  return [{ json: { message: ':white_check_mark: *Daily Churn Report -- Last 30 Days*\\n\\nNo churned accounts found in the last 30 days.' } }];\n}\n\nconst lines = rows.map(function(r) {\n  const name = r.account_name || 'Unknown';\n  const date = r.churn_date || 'N/A';\n  const mrr = r.avg_mrr != null ? '$' + r.avg_mrr : 'N/A';\n  const type = r.churn_type || 'N/A';\n  const reason = r.churn_reason || 'N/A';\n  const csm = r.csm || 'N/A';\n  const owner = r.sf_account_owner || 'N/A';\n  const segment = r.account_segmentation || 'N/A';\n  const geo = r.geo_area || 'N/A';\n  return '*' + name + '* | ' + date + ' | MRR: ' + mrr + ' | ' + type + ' | ' + reason + ' | CSM: ' + csm + ' | SF Owner: ' + owner + ' | ' + segment + ' | ' + geo;\n});\n\nconst today = new Date().toISOString().slice(0, 10);\nconst header = ':rotating_light: *Daily Churn Report -- Last 30 Days* (' + today + ')';\nconst body = lines.join('\\n');\nconst footer = '_Total accounts churned: ' + rows.length + '_';\n\nreturn [{ json: { message: header + '\\n\\n' + body + '\\n\\n' + footer } }];"
      }
    },
    {
      "id": "e4f5a6b7-c8d9-0e1f-2a3b-4c5d6e7f8a9b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-alerts"
        },
        "text": "={{ $json.message }}"
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Churn Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Churn Report": {
      "main": [
        [
          {
            "node": "Check Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Results": {
      "main": [
        [
          {
            "node": "Aggregate Rows",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aggregate Rows": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}