feedback-loop/candidates/cs/harvested_cs_002_workflow.json
{
  "name": "Salesforce Renewal Opportunity - Slack Alert",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Salesforce Trigger - Opportunity Updated",
      "type": "n8n-nodes-base.salesforceTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "triggerOn": "opportunityUpdated"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Get Opportunity Details",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        470,
        300
      ],
      "parameters": {
        "authentication": "oAuth2",
        "resource": "search",
        "operation": "query",
        "query": "=SELECT Id, Name, StageName, RecordType.Name, Account.Name, Account.Guesty_Admin_ID__c FROM Opportunity WHERE Id = '{{ $json.Id }}'"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      }
    },
    {
      "id": "3d594a8e-1b2c-4f5d-9e6a-7b8c9d0e1f2a",
      "name": "Filter - Renewal Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        690,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1f2e3d4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
              "leftValue": "={{ $json.records[0].RecordType.Name }}",
              "rightValue": "Renewal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "BigQuery - Get Churn Data",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        910,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "=SELECT c.account_id, c.account_name, c.churn_reason, m.last_month_paid_listings AS max_paid_listings FROM `guesty-data.csm.csm_churn_report` c LEFT JOIN `guesty-data.csm.mrr_calculator` m ON c.account_id = m.account_id WHERE c.account_id = '{{ $('Get Opportunity Details').item.json.records[0].Account.Guesty_Admin_ID__c }}' ORDER BY c.from_date DESC LIMIT 1"
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Slack - Post to cs-renewals",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-renewals"
        },
        "text": "={{ '*Renewal Opportunity Updated*\\n*Account:* ' + $('Get Opportunity Details').item.json.records[0].Account.Name + '\\n*Stage:* ' + $('Get Opportunity Details').item.json.records[0].StageName + '\\n*Guesty Admin ID:* ' + $('Get Opportunity Details').item.json.records[0].Account.Guesty_Admin_ID__c + '\\n*Max Paid Listings:* ' + $json.max_paid_listings + '\\n*Churn Reason:* ' + $json.churn_reason }}"
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack account 77"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Salesforce Trigger - Opportunity Updated": {
      "main": [
        [
          {
            "node": "Get Opportunity Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opportunity Details": {
      "main": [
        [
          {
            "node": "Filter - Renewal Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Renewal Only": {
      "main": [
        [
          {
            "node": "BigQuery - Get Churn Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BigQuery - Get Churn Data": {
      "main": [
        [
          {
            "node": "Slack - Post to cs-renewals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}