feedback-loop/candidates/cs/harvested_cs_003_workflow.json
{
  "name": "Daily Zendesk Ticket Aging Report",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  COUNT(ticket_id)                        AS open_ticket_count,\n  MIN(DATE(created_at))                   AS oldest_ticket_date,\n  COUNTIF(status = 'open')                AS open_count,\n  COUNTIF(status = 'pending')             AS pending_count\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE status IN ('open', 'pending')\n  AND created_at < TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND account_name IS NOT NULL\nGROUP BY account_name\nORDER BY open_ticket_count DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read"
        }
      }
    },
    {
      "id": "3d594a8e-1b2f-4c6e-9f0a-8e7d5c2b1a4f",
      "name": "Format Slack Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\n\nif (!rows || rows.length === 0) {\n  return [{ json: { report: '*Zendesk Ticket Aging Report* -- No aging tickets found today.' } }];\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nlet lines = [\n  '*:ticket: Zendesk Ticket Aging Report -- ' + today + '*',\n  'Accounts with open/pending tickets older than 7 days, sorted by ticket count.',\n  ''\n];\n\nrows.forEach((row, i) => {\n  const d = row.json;\n  const rank = i + 1;\n  const name = d.account_name || 'Unknown';\n  const total = d.open_ticket_count || 0;\n  const openCount = d.open_count || 0;\n  const pendingCount = d.pending_count || 0;\n  const oldest = d.oldest_ticket_date || 'N/A';\n  lines.push(\n    rank + '. *' + name + '* -- ' + total + ' ticket(s) | Open: ' + openCount + ' | Pending: ' + pendingCount + ' | Oldest: ' + oldest\n  );\n});\n\nlines.push('');\nlines.push('_Total accounts affected: ' + rows.length + '_');\n\nreturn [{ json: { report: lines.join('\\n') } }];"
      }
    },
    {
      "id": "9b1e4f7a-2c3d-4e5f-8a6b-0d1c2e3f4a5b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-ticket-aging"
        },
        "text": "={{ $json.report }}"
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack account 77"
        }
      }
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Format Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Report": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}