feedback-loop/candidates/cs/harvested_cs_006_workflow.json
{
  "name": "Daily CS Churn Report to Slack",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Churn Report",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  c.account_name,\n  c.from_date                              AS churn_date,\n  c.churn_reason_modified                  AS churn_reason,\n  c.customer_churn_reason,\n  c.churn_type,\n  c.account_segmentation,\n  c.geo_area,\n  ROUND(c.avg_mrr, 2)                      AS avg_mrr,\n  ROUND(c.churn_mrr_including_payments, 2) AS churn_mrr,\n  c.csm,\n  u.Name                                   AS account_owner,\n  c.etf\nFROM `guesty-data.csm.csm_churn_report` c\nLEFT JOIN `guesty-data.salesforce.sf_account` sf\n  ON c.account_id = sf.Guesty_Admin_ID__c\nLEFT JOIN `guesty-data.salesforce.sf_users` u\n  ON sf.OwnerId = u.Id\nWHERE c.from_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nORDER BY c.from_date DESC\nLIMIT 50",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "3d594a8e-1b2f-4c6d-9e8a-5f7b0c1d2e3f",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nif (items.length === 0) {\n  return [{ json: { message: '*Daily Churn Report -- ' + today + '*\\n\\nNo churned accounts found in the last 30 days.' } }];\n}\n\nconst totalMRR = items.reduce(function(sum, i) {\n  return sum + (parseFloat(i.json.churn_mrr) || 0);\n}, 0);\n\nconst lines = items.map(function(i) {\n  const d = i.json;\n  const mrr = d.churn_mrr ? '$' + Math.round(parseFloat(d.churn_mrr)).toLocaleString('en-US') : 'N/A';\n  const etf = d.etf ? ' | ETF: ' + d.etf : '';\n  return '- *' + (d.account_name || 'Unknown') + '* | Owner: ' + (d.account_owner || 'N/A') + ' | CSM: ' + (d.csm || 'N/A') + ' | MRR: ' + mrr + ' | Reason: ' + (d.churn_reason || 'N/A') + ' | Type: ' + (d.churn_type || 'N/A') + ' | Segment: ' + (d.account_segmentation || 'N/A') + ' | Geo: ' + (d.geo_area || 'N/A') + etf;\n});\n\nconst header = '*Daily Churn Report -- ' + today + '*\\n*' + items.length + ' account(s) churned in the last 30 days | Total Churn MRR: $' + Math.round(totalMRR).toLocaleString('en-US') + '*';\n\nconst message = header + '\\n\\n' + lines.join('\\n');\n\nreturn [{ json: { message: message } }];"
      }
    },
    {
      "id": "9b1e2f3a-4c5d-6e7f-8a9b-0c1d2e3f4a5b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-alerts"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Churn Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Churn Report": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}