feedback-loop/candidates/cs/harvested_cs_007_workflow.json
{
  "name": "SF Opportunity Updated - Renewal Alert to Slack",
  "nodes": [
    {
      "id": "a3f7c2d1-84b6-4e9a-b531-2c7d8e4f1a09",
      "name": "Salesforce Trigger - Opportunity Updated",
      "type": "n8n-nodes-base.salesforceTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "triggerOn": "opportunityUpdated"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read - Cross Dept"
        }
      }
    },
    {
      "id": "b8e1d4c9-3a72-4f5b-9c6e-7d2a1b8f3e05",
      "name": "Get Opportunity Details",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "=SELECT Id, Name, StageName, RecordType.Name, Account.Name, Account.Guesty_Admin_ID__c FROM Opportunity WHERE Id = '{{ $json.Id }}'"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read - Cross Dept"
        }
      }
    },
    {
      "id": "c5a9e3f7-1b4d-4c8a-a2e6-9f3b7d1c5e82",
      "name": "Filter - Renewal Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d4f2a8b1-6c3e-4d7f-b9a5-1e8c2f6d4b73",
              "leftValue": "={{ $json['RecordType.Name'] }}",
              "rightValue": "Renewal",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": false
      }
    },
    {
      "id": "e7b3d1a5-9c4f-4e2b-8d6a-3f1c7e9b5d28",
      "name": "Query BigQuery - Churn Report",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "=SELECT\n  account_id,\n  account_name,\n  churn_reason,\n  avg_mrr\nFROM `guesty-data.csm.csm_churn_report`\nWHERE account_id = '{{ $('Filter - Renewal Only').item.json['Account.Guesty_Admin_ID__c'] }}'\nORDER BY from_date DESC\nLIMIT 1",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "f2c8a4e6-7d1b-4f3c-9e5a-8b2d6f4c1a97",
      "name": "Post to Slack - cs-renewals",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-renewals"
        },
        "text": "=*Renewal Opportunity Updated*\n*Account:* {{ $('Filter - Renewal Only').item.json['Account.Name'] }}\n*Opportunity:* {{ $('Filter - Renewal Only').item.json.Name }}\n*Stage:* {{ $('Filter - Renewal Only').item.json.StageName }}\n*Guesty Admin ID:* {{ $('Filter - Renewal Only').item.json['Account.Guesty_Admin_ID__c'] }}\n*Churn Reason:* {{ $json.churn_reason }}\n*Avg MRR:* ${{ $json.avg_mrr }}"
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Salesforce Trigger - Opportunity Updated": {
      "main": [
        [
          {
            "node": "Get Opportunity Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opportunity Details": {
      "main": [
        [
          {
            "node": "Filter - Renewal Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Renewal Only": {
      "main": [
        [
          {
            "node": "Query BigQuery - Churn Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query BigQuery - Churn Report": {
      "main": [
        [
          {
            "node": "Post to Slack - cs-renewals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}