feedback-loop/candidates/cs/harvested_cs_003_workflow.json
{
  "name": "Churn Alert - SF Renewal Opportunities to Slack",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 6PM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query SF Renewal Opportunities",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "search",
        "operation": "query",
        "query": "SELECT Id, Name, StageName, Last_Stage__c, Churn_Date__c, RecordTypeId, LastModifiedDate, Account.Name, Account.Account_Owner_F__c, Account.Average_MRR__c, Account.Guesty_Admin_ID__c FROM Opportunity WHERE RecordTypeId = '0125p000001101UAAQ' AND Last_Stage__c LIKE '%declined%' AND Churn_Date__c > 2024-01-01T00:00:00Z AND LastModifiedDate >= LAST_N_DAYS:1 ORDER BY LastModifiedDate DESC"
      },
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read - Cross Dept"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "3d594a8e-1b2f-4c7d-9e3a-5f8b2c1d6e4f",
      "name": "Has Guesty Admin ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c8d9e0f1-a2b3-4c5d-6e7f-8a9b0c1d2e3f",
              "leftValue": "={{ $json.Account.Guesty_Admin_ID__c }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      }
    },
    {
      "id": "9b8a7c6d-5e4f-3a2b-1c0d-e9f8a7b6c5d4",
      "name": "BQ: Get Max Paid Listings",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "=SELECT account_id, account_name, MAX(last_month_paid_listings) AS max_paid_listings FROM `guesty-data.csm.csm_churn_report` WHERE account_id = '{{ $json.Account.Guesty_Admin_ID__c }}' GROUP BY account_id, account_name LIMIT 1"
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "2e3f4a5b-6c7d-8e9f-0a1b-2c3d4e5f6a7b",
      "name": "Post Churn Alert to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-notifications"
        },
        "text": "=:rotating_light: *Churn Alert* -- {{ $('Query SF Renewal Opportunities').item.json.Account.Name }}\n\n*Stage:* {{ $('Query SF Renewal Opportunities').item.json.Last_Stage__c }}\n*Churn Date:* {{ $('Query SF Renewal Opportunities').item.json.Churn_Date__c }}\n*Account Owner:* {{ $('Query SF Renewal Opportunities').item.json.Account.Account_Owner_F__c }}\n*Avg MRR:* ${{ $('Query SF Renewal Opportunities').item.json.Account.Average_MRR__c }}\n*Max Paid Listings:* {{ $json.max_paid_listings }}\n*Guesty Admin ID:* {{ $('Query SF Renewal Opportunities').item.json.Account.Guesty_Admin_ID__c }}\n*Opportunity:* {{ $('Query SF Renewal Opportunities').item.json.Name }}\n*Last Modified:* {{ $('Query SF Renewal Opportunities').item.json.LastModifiedDate }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 6PM Trigger": {
      "main": [
        [
          {
            "node": "Query SF Renewal Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query SF Renewal Opportunities": {
      "main": [
        [
          {
            "node": "Has Guesty Admin ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Guesty Admin ID?": {
      "main": [
        [
          {
            "node": "BQ: Get Max Paid Listings",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "BQ: Get Max Paid Listings": {
      "main": [
        [
          {
            "node": "Post Churn Alert to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}