feedback-loop/candidates/cs/harvested_cs_001_workflow.json
{
  "name": "Daily Churn Report -- CS Alerts",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Churn Report",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  c.account_name,\n  c.from_date AS churn_date,\n  c.churn_reason_modified AS churn_reason,\n  c.customer_churn_reason,\n  c.churn_type,\n  c.csm,\n  c.manager,\n  ROUND(c.avg_mrr, 2) AS avg_mrr,\n  ROUND(c.churn_mrr_including_payments, 2) AS churn_mrr,\n  c.account_segmentation,\n  c.geo_area,\n  c.months_in_guesty,\n  u.Name AS account_owner\nFROM `guesty-data.csm.csm_churn_report` c\nLEFT JOIN `guesty-data.salesforce.sf_account` sf\n  ON c.account_id = sf.Guesty_Admin_ID__c\nLEFT JOIN `guesty-data.salesforce.sf_users` u\n  ON sf.OwnerId = u.Id\nWHERE c.from_date >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nORDER BY c.from_date DESC, c.avg_mrr DESC\nLIMIT 50"
      },
      "credentials": {
        "googleApi": {
          "id": "VQ7CU7dKViVcv8Ah",
          "name": "Google Service Account n8n-ai-cx-read - Cross Dept"
        }
      }
    },
    {
      "id": "3d594a5e-1b2f-4c8e-9f1a-6b7c8d9e0f1a",
      "name": "Check Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a9f3c2e1-d4b5-4a6f-8c7d-1e2f3a4b5c6d",
              "leftValue": "={{ $items().length }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ]
        }
      }
    },
    {
      "id": "9e8d7c6b-5a4f-3e2d-1c0b-9a8b7c6d5e4f",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-alerts"
        },
        "text": "=*:rotating_light: Daily Churn Report -- Last 30 Days*\n*Total accounts churned:* {{ $items().length }}\n*Run date:* {{ $now.toFormat('yyyy-MM-dd') }}\n\n{{ $items().map(function(item) { return '*' + item.json.account_name + '*' + '\n  - Churn Date: ' + item.json.churn_date + '\n  - Churn Type: ' + (item.json.churn_type || 'N/A') + '\n  - Reason: ' + (item.json.churn_reason || 'N/A') + '\n  - Avg MRR: $' + (item.json.avg_mrr || '0') + '\n  - Churn MRR: $' + (item.json.churn_mrr || '0') + '\n  - Segment: ' + (item.json.account_segmentation || 'N/A') + '\n  - Geo: ' + (item.json.geo_area || 'N/A') + '\n  - CSM: ' + (item.json.csm || 'N/A') + '\n  - Owner: ' + (item.json.account_owner || 'N/A') + '\n  - Months in Guesty: ' + (item.json.months_in_guesty || 'N/A'); }).join('\n\n') }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Post No Results",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cs-churn-alerts"
        },
        "text": ":white_check_mark: *Daily Churn Report -- Last 30 Days*\nNo churned accounts found in the last 30 days.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "7H6auF31TpX7Wk7M",
          "name": "Slack - @Who App - AI Team"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Churn Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Churn Report": {
      "main": [
        [
          {
            "node": "Check Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Results": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post No Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}