examples/gsheet_slack.json
{
  "name": "Weekly Campaign Metrics \u00e2\u0086\u0092 Slack",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Every Monday 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get Campaign Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EDO1bmcTulXX52OG",
          "name": "Assaf's Gsheet"
        }
      },
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1ABC123"
        },
        "sheetName": {
          "mode": "name",
          "value": "Campaign Metrics"
        },
        "range": "A:D"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Summarize Totals",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "Leads"
            },
            {
              "aggregation": "sum",
              "field": "Spend"
            },
            {
              "aggregation": "sum",
              "field": "Conversions"
            }
          ]
        },
        "options": {
          "outputFormat": "singleItem"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "5Ii5X9IFid1S8rIE",
          "name": "Assaf's Slack Connection"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#marketing-weekly"
        },
        "text": "=\u00f0\u009f\u0093\u008a *Weekly Campaign Metrics Summary*\n\n\u00e2\u0080\u00a2 Total Leads: {{ $json.sum_Leads }}\n\u00e2\u0080\u00a2 Total Spend: ${{ $json.sum_Spend }}\n\u00e2\u0080\u00a2 Total Conversions: {{ $json.sum_Conversions }}"
      }
    }
  ],
  "connections": {
    "Every Monday 9am UTC": {
      "main": [
        [
          {
            "node": "Get Campaign Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Campaign Metrics": {
      "main": [
        [
          {
            "node": "Summarize Totals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Totals": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}