feedback-loop/candidates/payments/harvested_payments_003_workflow.json
{
  "name": "Daily Aging Report -- Unpaid Invoices to Slack",
  "nodes": [
    {
      "id": "a3f7c821-4d9e-4b2a-8f1c-6e0d5a9b3c47",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b8e2d154-7a3f-4c1e-9d6b-2f0a8c5e7d91",
      "name": "Query Unpaid Invoices",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  mongo_account_id,\n  COUNT(invoice_id) AS invoice_count,\n  ROUND(SUM(balance), 2) AS total_outstanding_usd,\n  MIN(DATE(invoice_date)) AS oldest_invoice_date,\n  MAX(DATE(invoice_date)) AS newest_invoice_date,\n  MAX(dunning_step_num) AS max_dunning_step\nFROM `guesty-data.zuora_analytics.invoices`\nWHERE\n  status = 'Posted'\n  AND IFNULL(balance, 0) > 0\n  AND DATE(invoice_date) < DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nGROUP BY mongo_account_id\nORDER BY total_outstanding_usd DESC\nLIMIT 100",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "c1d4f963-2b8e-4a7d-b5c0-9e3f1a6d8b52",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(item => item.json);\n\nif (rows.length === 0) {\n  return [{\n    json: {\n      slackMessage: ':white_check_mark: *Daily Aging Report -- Unpaid Invoices (>30 days)*\\n\\nNo overdue unpaid invoices found today. All clear!'\n    }\n  }];\n}\n\nconst today = DateTime.now().toFormat('yyyy-MM-dd');\n\nconst lines = rows.map(r => {\n  const amount = Number(r.total_outstanding_usd).toFixed(2);\n  const count = r.invoice_count;\n  const oldest = r.oldest_invoice_date;\n  const dunning = (r.max_dunning_step !== null && r.max_dunning_step !== undefined) ? r.max_dunning_step : 0;\n  return '- `' + r.mongo_account_id + '` | $' + amount + ' | ' + count + ' invoice(s) | Oldest: ' + oldest + ' | Dunning step: ' + dunning;\n});\n\nconst totalUsd = rows.reduce((sum, r) => sum + Number(r.total_outstanding_usd), 0).toFixed(2);\n\nconst message = [\n  ':rotating_light: *Daily Aging Report -- Unpaid Invoices (>30 days)* | ' + today,\n  '',\n  'Found *' + rows.length + ' account(s)* with overdue balances. Total outstanding: *$' + totalUsd + '*',\n  '',\n  lines.join('\\n'),\n  '',\n  '_Run automatically every day at 9:00 UTC_'\n].join('\\n');\n\nreturn [{ json: { slackMessage: message } }];"
      }
    },
    {
      "id": "e2b6f741-9d3a-4e8c-a1f5-7c0b4d2e9f83",
      "name": "Post to #payments-collections",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-collections"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "0l2bJ3SquNB8nyFd",
          "name": "Slack ask-pay-test"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Unpaid Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Unpaid Invoices": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to #payments-collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}