feedback-loop/candidates/payments/harvested_payments_003_workflow.json
{
  "name": "Weekly Payments Reconciliation Report",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Every Monday 7am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3f4d5e6f7a",
      "name": "BQ - Invoice Totals by Account",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  i.mongo_account_id,\n  sf.Name                         AS account_name,\n  sf.Account_Owner_F__c           AS account_owner,\n  COUNT(i.invoice_id)             AS invoice_count,\n  ROUND(SUM(i.invoice_amount), 2) AS total_invoiced_usd\nFROM `guesty-data.zuora_analytics.invoices` i\nJOIN `guesty-data.salesforce.sf_account` sf\n  ON sf.Guesty_Admin_ID__c = i.mongo_account_id\nWHERE i.invoice_date >= TIMESTAMP(DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), MONTH))\n  AND i.invoice_date <  TIMESTAMP(DATE_TRUNC(CURRENT_DATE(), MONTH))\n  AND i.status = 'Posted'\nGROUP BY i.mongo_account_id, sf.Name, sf.Account_Owner_F__c\nORDER BY total_invoiced_usd DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "aLlYQkLWrmANkfFZ",
          "name": "n8n-payments"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a7d-4c9e-b1f2-3d4a5e6f7b8c",
      "name": "Format Reconciliation Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
              "name": "account_name",
              "value": "={{ $json.account_name }}",
              "type": "string"
            },
            {
              "id": "e2f3a4b5-c6d7-4e8f-9a0b-1c2d3e4f5a6b",
              "name": "account_owner",
              "value": "={{ $json.account_owner }}",
              "type": "string"
            },
            {
              "id": "f3a4b5c6-d7e8-4f9a-0b1c-2d3e4f5a6b7c",
              "name": "mongo_account_id",
              "value": "={{ $json.mongo_account_id }}",
              "type": "string"
            },
            {
              "id": "a4b5c6d7-e8f9-4a0b-1c2d-3e4f5a6b7c8d",
              "name": "invoice_count",
              "value": "={{ $json.invoice_count }}",
              "type": "number"
            },
            {
              "id": "b5c6d7e8-f9a0-4b1c-2d3e-4f5a6b7c8d9e",
              "name": "total_invoiced_usd",
              "value": "={{ $json.total_invoiced_usd }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "d6a4f5b7-1b8e-4d0f-c2a3-4e5f6a7b8c9d",
      "name": "Aggregate into Report List",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "accounts",
        "include": "allFields"
      }
    },
    {
      "id": "e7b5a6c8-2c9f-4e1a-d3b4-5f6a7b8c9d0e",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const accounts = $input.first().json.accounts || [];\n\nconst now = DateTime.now().setZone('UTC');\nconst periodLabel = now.minus({months: 1}).startOf('month').toFormat('MMMM yyyy');\nconst generatedAt = now.toFormat('yyyy-MM-dd HH:mm');\n\nconst totalInvoiced = accounts.reduce(function(sum, a) {\n  return sum + (parseFloat(a.total_invoiced_usd) || 0);\n}, 0);\n\nconst displayAccounts = accounts.slice(0, 20);\n\nvar lines = [];\nfor (var i = 0; i < displayAccounts.length; i++) {\n  var a = displayAccounts[i];\n  var name = a.account_name || 'Unknown';\n  var owner = a.account_owner || 'N/A';\n  var count = a.invoice_count || 0;\n  var total = parseFloat(a.total_invoiced_usd || 0).toFixed(2);\n  lines.push('*' + name + '*\\nOwner: ' + owner + ' | Invoices: ' + count + ' | Total: $' + total);\n}\n\nvar overflow = '';\nif (accounts.length > 20) {\n  overflow = '\\n\\n_...and ' + (accounts.length - 20) + ' more accounts. Run the full report in BigQuery for the complete list._';\n}\n\nvar message = ':bar_chart: *Weekly Payments Reconciliation Report*\\n';\nmessage += '*Period:* ' + periodLabel + '\\n';\nmessage += '*Generated:* ' + generatedAt + ' UTC\\n';\nmessage += '*Total Accounts:* ' + accounts.length + '\\n';\nmessage += '*Total Invoiced:* $' + totalInvoiced.toFixed(2) + '\\n\\n';\nmessage += lines.join('\\n\\n');\nmessage += overflow;\n\nreturn [{ json: { slack_message: message } }];"
      }
    },
    {
      "id": "f8c6b7d9-3d0a-4f2b-e4c5-6a7b8c9d0e1f",
      "name": "Post to #payments-reconciliation",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-reconciliation"
        },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "0l2bJ3SquNB8nyFd",
          "name": "Slack ask-pay-test"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 7am UTC": {
      "main": [
        [
          {
            "node": "BQ - Invoice Totals by Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Invoice Totals by Account": {
      "main": [
        [
          {
            "node": "Format Reconciliation Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reconciliation Report": {
      "main": [
        [
          {
            "node": "Aggregate into Report List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate into Report List": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to #payments-reconciliation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}