feedback-loop/candidates/payments/harvested_payments_004_workflow.json
{
  "name": "Payment Fee Mismatch Monitor",
  "nodes": [
    {
      "id": "a3f1c2e4-9b7d-4e6a-8c0f-1d2e3f4a5b6c",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-0c8e-4f7b-9d1a-2e3f4a5b6c7d",
      "name": "Product Catalog Fees",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        160
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_id,\n  account_name,\n  plan_name,\n  plan_value AS configured_fee,\n  charge_model,\n  uom\nFROM `guesty-data.zuora_analytics.product_catalog`\nWHERE LOWER(plan_name) LIKE '%payment gateway%'\n  AND effective_end_date > CURRENT_DATE()",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "aLlYQkLWrmANkfFZ",
          "name": "n8n-payments"
        }
      }
    },
    {
      "id": "c5f3e4a6-1d9f-4a8c-0e2b-3f4a5b6c7d8e",
      "name": "Invoice Items Past Month",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        440
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  mongo_account_id AS account_id,\n  SUM(amount) AS invoiced_amount\nFROM `guesty-data.zuora_analytics.invoice_items`\nWHERE LOWER(product_name) LIKE '%payment gateway%'\n  AND invoiceitem_servicestartdate >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nGROUP BY mongo_account_id",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "aLlYQkLWrmANkfFZ",
          "name": "n8n-payments"
        }
      }
    },
    {
      "id": "d6a4f5b7-2e0a-4b9d-1f3c-4a5b6c7d8e9f",
      "name": "Merge by Account ID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        740,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "fieldsToMatchString": "account_id",
        "joinMode": "keepEverything",
        "options": {}
      }
    },
    {
      "id": "e7b5a6c8-3f1b-4c0e-2a4d-5b6c7d8e9f0a",
      "name": "Fee Mismatch Over 10%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        980,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f8c6b7d9-4a2c-4d1f-3b5e-6c7d8e9f0a1b",
              "leftValue": "={{ (Math.abs(Number($json.invoiced_amount) - Number($json.configured_fee)) / Number($json.configured_fee)) }}",
              "rightValue": 0.1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "f9d7c8e0-5b3d-4e2a-4c6f-7d8e9f0a1b2c",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1220,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-fee-alerts"
        },
        "text": "=:warning: *Payment Fee Mismatch Detected*\n\n*Account:* {{ $json.account_name }} (`{{ $json.account_id }}`)\n*Plan:* {{ $json.plan_name }}\n*Configured Fee:* ${{ $json.configured_fee }} ({{ $json.uom }})\n*Invoiced Amount (last 30d):* ${{ $json.invoiced_amount }}\n*Deviation:* {{ (Math.abs(Number($json.invoiced_amount) - Number($json.configured_fee)) / Number($json.configured_fee) * 100).toFixed(1) }}%",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "0l2bJ3SquNB8nyFd",
          "name": "Slack ask-pay-test"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "Product Catalog Fees",
            "type": "main",
            "index": 0
          },
          {
            "node": "Invoice Items Past Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Catalog Fees": {
      "main": [
        [
          {
            "node": "Merge by Account ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Items Past Month": {
      "main": [
        [
          {
            "node": "Merge by Account ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge by Account ID": {
      "main": [
        [
          {
            "node": "Fee Mismatch Over 10%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fee Mismatch Over 10%": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}