feedback-loop/candidates/payments/harvested_payments_001_workflow.json
{
  "name": "Payment Dispute - Sheet to Zendesk + Slack",
  "nodes": [
    {
      "id": "a3f1c2d4-8b7e-4a91-b3c5-1d2e3f4a5b6c",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "authentication": "triggerOAuth2",
        "documentId": {
          "mode": "id",
          "value": "YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "mode": "id",
          "value": "0"
        },
        "event": "rowAdded"
      },
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "W6Zn2BYAkgmc1t8W",
          "name": "Google Sheets Elena Chechik"
        }
      }
    },
    {
      "id": "b7e2d3f5-9c8a-4b02-c4d6-2e3f4a5b6c7d",
      "name": "Create Zendesk Ticket",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "authentication": "apiToken",
        "resource": "ticket",
        "operation": "create",
        "description": "={{ 'Ticket ID: ' + $json.ticket_id + '\nAccount: ' + $json.account_name + '\nDispute Amount: $' + $json.dispute_amount + '\nReason: ' + $json.reason }}",
        "jsonParameters": false,
        "additionalFields": {
          "subject": "={{ 'Payment Dispute - ' + $json.account_name }}",
          "type": "problem",
          "group": "PAYMENTS_GROUP_ID",
          "status": "open",
          "tags": [
            "payment_dispute"
          ]
        }
      },
      "credentials": {
        "zendeskApi": {
          "id": "cFdFPhADfsxMmPFC",
          "name": "Zendesk account"
        }
      }
    },
    {
      "id": "c9f3e4a6-0d9b-4c13-d5e7-3f4a5b6c7d8e",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        750,
        300
      ],
      "parameters": {
        "authentication": "accessToken",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-disputes"
        },
        "messageType": "text",
        "text": "={{ ':rotating_light: *New Payment Dispute*\n*Account:* ' + $('Google Sheets Trigger').item.json.account_name + '\n*Amount:* $' + $('Google Sheets Trigger').item.json.dispute_amount + '\n*Reason:* ' + $('Google Sheets Trigger').item.json.reason + '\n*Zendesk Ticket ID:* #' + $('Create Zendesk Ticket').item.json.ticket.id }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "0l2bJ3SquNB8nyFd",
          "name": "Slack ask-pay-test"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Create Zendesk Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Zendesk Ticket": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}