feedback-loop/candidates/payments/harvested_payments_005_workflow.json
{
  "name": "Weekly Payments Reconciliation Report",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Every Monday 7am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "BQ - Invoice Totals by Account",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  i.mongo_account_id,\n  sf.Name                          AS account_name,\n  u.Name                           AS account_owner,\n  ROUND(SUM(i.invoice_amount), 2)  AS total_invoiced_usd,\n  COUNT(i.invoice_id)              AS invoice_count\nFROM `guesty-data.zuora_analytics.invoices` i\nJOIN `guesty-data.guesty_analytics.dim_accounts` da\n  ON i.mongo_account_id = da.account_id\nJOIN `guesty-data.salesforce.sf_account` sf\n  ON da.sf_account_id = sf.Id\nJOIN `guesty-data.salesforce.sf_users` u\n  ON sf.OwnerId = u.Id\nWHERE i.invoice_date >= TIMESTAMP(DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY))\n  AND i.status = 'Posted'\n  AND IFNULL(u.IsActive, FALSE) = TRUE\nGROUP BY\n  i.mongo_account_id,\n  sf.Name,\n  u.Name\nORDER BY total_invoiced_usd DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "h7fJ82YhtOnUL58u",
          "name": "Google BigQuery - N8N Service Account"
        }
      }
    },
    {
      "id": "3d594a1e-9b2c-4f8a-b3e1-7a6c5d2e8f90",
      "name": "Any Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a1f3c7e9-2b4d-4e6f-8a0c-1d3e5f7a9b2c",
              "leftValue": "={{ $json.mongo_account_id }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        }
      }
    },
    {
      "id": "b2e4d6f8-0a1c-4e3f-9b5d-7c8e0f2a4b6d",
      "name": "Format Report Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        200
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "c3f5a7b9-1d2e-4f6a-8b0c-2e4f6a8b0c2e",
              "name": "account_name",
              "value": "={{ $json.account_name }}",
              "type": "string"
            },
            {
              "id": "d4a6b8c0-2e3f-4a5b-9c1d-3f5a7b9c1d3f",
              "name": "account_owner",
              "value": "={{ $json.account_owner }}",
              "type": "string"
            },
            {
              "id": "e5b7c9d1-3f4a-4b6c-0d2e-4a6b8c0d2e4a",
              "name": "total_invoiced_usd",
              "value": "={{ $json.total_invoiced_usd }}",
              "type": "number"
            },
            {
              "id": "f6c8d0e2-4a5b-4c7d-1e3f-5b7c9d1e3f5b",
              "name": "invoice_count",
              "value": "={{ $json.invoice_count }}",
              "type": "number"
            },
            {
              "id": "a7d9e1f3-5b6c-4d8e-2f4a-6c8d0e2f4a6c",
              "name": "report_line",
              "value": "=*{{ $json.account_name }}* | Owner: {{ $json.account_owner }} | Invoiced: ${{ $json.total_invoiced_usd }} ({{ $json.invoice_count }} invoices)",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "c8e0f2a4-6b7c-4e9f-3a5b-7d9e1f3a5b7d",
      "name": "Collect All Rows",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "aggregate": "aggregateIndividualFields",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "report_line",
              "renameField": true,
              "outputFieldName": "report_lines"
            },
            {
              "fieldToAggregate": "total_invoiced_usd",
              "renameField": true,
              "outputFieldName": "all_amounts"
            }
          ]
        }
      }
    },
    {
      "id": "d9f1a3b5-7c8d-4f0a-4b6c-8e0f2a4b6c8e",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "e0a2b4c6-8d9e-4a1b-5c7d-9f1a3b5c7d9f",
              "name": "slack_message",
              "value": "=:bar_chart: *Weekly Payments Reconciliation Report*\n_Period: Last 30 days | Run: {{ $now.toFormat('yyyy-MM-dd') }}_\n\n{{ $json.report_lines.join('\\n') }}\n\n---\n*Grand Total: ${{ $json.all_amounts.reduce((s, v) => s + (v || 0), 0).toFixed(2) }}*\n_{{ $json.report_lines.length }} account(s) with Posted invoices_",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "e0b2c4d6-8f9a-4b1c-5d7e-0a2b4c6d8f0a",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1560,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-reconciliation"
        },
        "text": "={{ $json.slack_message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "87t2GgsbEJDItDs7",
          "name": "Slack ask-pay"
        }
      }
    },
    {
      "id": "f1c3d5e7-9a0b-4c2d-6e8f-1b3c5d7e9a0b",
      "name": "No Data - Skip",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-reconciliation"
        },
        "text": ":warning: Weekly Payments Reconciliation: No Posted invoices found for the past 30 days.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "87t2GgsbEJDItDs7",
          "name": "Slack ask-pay"
        }
      }
    }
  ],
  "connections": {
    "Every Monday 7am UTC": {
      "main": [
        [
          {
            "node": "BQ - Invoice Totals by Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Invoice Totals by Account": {
      "main": [
        [
          {
            "node": "Any Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Results?": {
      "main": [
        [
          {
            "node": "Format Report Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Data - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report Row": {
      "main": [
        [
          {
            "node": "Collect All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Rows": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}