feedback-loop/candidates/payments/harvested_payments_004_workflow.json
{
  "name": "Payment Fee Mismatch - Daily Alert",
  "nodes": [
    {
      "id": "a3f1c2e4-9b7d-4e6a-8c5f-1d2e3f4a5b6c",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-0c8e-5f7b-9d6a-2e3f4a5b6c7d",
      "name": "BQ - Configured Fees",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        160
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_id,\n  account_name,\n  SUM(plan_value) AS configured_fee\nFROM `guesty-data.zuora_analytics.product_catalog`\nWHERE LOWER(plan_name) LIKE '%payment gateway%'\n  AND effective_end_date > CURRENT_DATE()\nGROUP BY account_id, account_name",
        "options": {
          "returnAsNumbers": true
        }
      },
      "credentials": {
        "googleApi": {
          "id": "aLlYQkLWrmANkfFZ",
          "name": "n8n-payments"
        }
      }
    },
    {
      "id": "c5f3e4a6-1d9f-6a8c-0e7b-3f4a5b6c7d8e",
      "name": "BQ - Invoiced Amounts",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        440
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  mongo_account_id AS account_id,\n  SUM(amount)          AS invoiced_amount,\n  COUNT(invoice_item_id) AS invoice_item_count\nFROM `guesty-data.zuora_analytics.invoice_items`\nWHERE LOWER(product_name) LIKE '%payment gateway%'\n  AND invoiceitem_servicestartdate >= DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nGROUP BY mongo_account_id",
        "options": {
          "returnAsNumbers": true
        }
      },
      "credentials": {
        "googleApi": {
          "id": "aLlYQkLWrmANkfFZ",
          "name": "n8n-payments"
        }
      }
    },
    {
      "id": "d6a4f5b7-2e0a-7b9d-1f8c-4a5b6c7d8e9f",
      "name": "Merge by Account ID",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "fieldsToMatchString": "account_id",
        "joinMode": "keepMatches",
        "outputDataFrom": "both",
        "options": {
          "fuzzyCompare": true
        }
      }
    },
    {
      "id": "e7b5a6c8-3f1b-8c0e-2a9d-5b6c7d8e9f0a",
      "name": "Fee Mismatch > 10%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f8c6b7d9-4a2c-9d1f-3b0e-6c7d8e9f0a1b",
              "leftValue": "={{ Math.abs($json.invoiced_amount - $json.configured_fee) / $json.configured_fee }}",
              "rightValue": 0.1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "f9d7c8e0-5b3d-0e2a-4c1f-7d8e9f0a1b2c",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1200,
        160
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-fee-alerts"
        },
        "text": "=:rotating_light: *Payment Fee Mismatch Detected*\n\n*Account:* {{ $json.account_name }} (`{{ $json.account_id }}`)\n*Configured Fee:* ${{ $json.configured_fee.toFixed(2) }}\n*Invoiced Amount (last 30d):* ${{ $json.invoiced_amount.toFixed(2) }}\n*Deviation:* {{ (Math.abs($json.invoiced_amount - $json.configured_fee) / $json.configured_fee * 100).toFixed(1) }}%\n*Invoice Line Items:* {{ $json.invoice_item_count }}"
      },
      "credentials": {
        "slackApi": {
          "id": "0l2bJ3SquNB8nyFd",
          "name": "Slack ask-pay-test"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "BQ - Configured Fees",
            "type": "main",
            "index": 0
          },
          {
            "node": "BQ - Invoiced Amounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Configured Fees": {
      "main": [
        [
          {
            "node": "Merge by Account ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BQ - Invoiced Amounts": {
      "main": [
        [
          {
            "node": "Merge by Account ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge by Account ID": {
      "main": [
        [
          {
            "node": "Fee Mismatch > 10%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fee Mismatch > 10%": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}