feedback-loop/candidates/payments/harvested_payments_002_workflow.json
{
  "name": "Daily Aging Report -- Unpaid Invoices to Slack",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Unpaid Invoices",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  mongo_account_id,\n  COUNT(invoice_id)                  AS invoice_count,\n  ROUND(SUM(balance), 2)             AS total_outstanding,\n  MIN(DATE(invoice_date))            AS oldest_invoice_date,\n  MAX(DATE(invoice_date))            AS newest_invoice_date\nFROM `guesty-data.zuora_analytics.invoices`\nWHERE status = 'Posted'\n  AND balance > 0\n  AND DATE(invoice_date) < DATE_SUB(CURRENT_DATE(), INTERVAL 30 DAY)\nGROUP BY mongo_account_id\nORDER BY total_outstanding DESC"
      },
      "credentials": {
        "googleApi": {
          "id": "aLlYQkLWrmANkfFZ",
          "name": "n8n-payments"
        }
      }
    },
    {
      "id": "3d8b1c2e-9f4a-4b7e-8c5d-1a2b3c4d5e6f",
      "name": "Format Aging Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\n\nif (!items || items.length === 0) {\n  return [{ json: { message: ':white_check_mark: *Daily Aging Report -- ' + today + '*\\nNo unpaid invoices older than 30 days found today.' } }];\n}\n\nconst totalAccounts = items.length;\nconst grandTotal = items.reduce((sum, item) => sum + (item.json.total_outstanding || 0), 0);\n\nlet rows = '';\nconst maxRows = 20;\nconst displayed = items.slice(0, maxRows);\n\nfor (const item of displayed) {\n  const d = item.json;\n  const accountId = d.mongo_account_id || 'N/A';\n  const count = d.invoice_count || 0;\n  const amount = '$' + Number(d.total_outstanding).toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n  const oldest = d.oldest_invoice_date || 'N/A';\n  rows += '\\n| ' + accountId + ' | ' + count + ' | ' + amount + ' | ' + oldest + ' |';\n}\n\nconst moreNote = items.length > maxRows ? '\\n_...and ' + (items.length - maxRows) + ' more accounts not shown._' : '';\n\nconst message = ':rotating_light: *Daily Aging Report -- Unpaid Invoices (30+ days)*\\n*Date:* ' + today + '\\n*Accounts with overdue balance:* ' + totalAccounts + '\\n*Grand Total Outstanding:* $' + grandTotal.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + '\\n\\n*Top Accounts by Outstanding Balance:*\\n| Account ID | Invoices | Outstanding | Oldest Invoice |\\n|------------|----------|-------------|----------------|' + rows + moreNote;\n\nreturn [{ json: { message } }];"
      }
    },
    {
      "id": "a1e2f3b4-c5d6-4e7f-8a9b-0c1d2e3f4a5b",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#payments-collections"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "0l2bJ3SquNB8nyFd",
          "name": "Slack ask-pay-test"
        }
      }
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Unpaid Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Unpaid Invoices": {
      "main": [
        [
          {
            "node": "Format Aging Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Aging Report": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}