feedback-loop/candidates/cx/harvested_cx_001_workflow.json
{
  "name": "Daily Ticket Hygiene - Stale Open Tickets",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Get Stale Open Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  ticket_id,\n  subject,\n  assignee_email,\n  assignee_name,\n  updated_at,\n  account_name\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status = 'open'\n  AND updated_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 14 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\nORDER BY updated_at ASC",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "PAAimNTryrvB72dp",
          "name": "Google Service Account - CX translate"
        }
      }
    },
    {
      "id": "3d594a8e-1b2f-4c6e-9f0a-8b7e5d2c1a4f",
      "name": "Add Internal Note",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "resource": "ticket",
        "operation": "update",
        "id": "={{ $json.ticket_id }}",
        "updateFields": {
          "internalNote": "Auto-reminder: This ticket has been open for 14+ days. Please review and update."
        }
      },
      "credentials": {
        "zendeskApi": {
          "id": "OTFp18SnDgGUSn9u",
          "name": "Zendesk Sandbox - Info@guesty"
        }
      }
    },
    {
      "id": "9a1b3c5d-7e2f-4a8b-b6c4-0d9e8f7a6b5c",
      "name": "Aggregate Ticket Count",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "tickets",
        "include": "allFields"
      }
    },
    {
      "id": "b2d4f6a8-c0e2-4f4a-a8c6-1e3d5b7f9a0c",
      "name": "Post Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-ticket-hygiene"
        },
        "text": "=:white_check_mark: *Daily Ticket Hygiene Run -- 8am UTC*\nAuto-reminder comments added to *{{ $json.tickets.length }}* stale open tickets (last updated 14+ days ago).",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "Get Stale Open Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stale Open Tickets": {
      "main": [
        [
          {
            "node": "Add Internal Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Internal Note": {
      "main": [
        [
          {
            "node": "Aggregate Ticket Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Ticket Count": {
      "main": [
        [
          {
            "node": "Post Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}