feedback-loop/candidates/cx/harvested_cx_001_workflow.json
{
  "name": "CX - Daily Aging Tickets Report",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3d4e5f6a7b",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  account_segment,\n  COUNT(ticket_id) AS ticket_count,\n  MIN(created_at) AS oldest_ticket_date,\n  STRING_AGG(DISTINCT assignee_name ORDER BY assignee_name LIMIT 3) AS assignees\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status IN ('open', 'pending')\n  AND created_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\n  AND account_name IS NOT NULL\nGROUP BY account_name, account_segment\nORDER BY ticket_count DESC\nLIMIT 100",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "PAAimNTryrvB72dp",
          "name": "Google Service Account - CX translate"
        }
      }
    },
    {
      "id": "c5f3e4a6-a07d-4c9e-b1f2-3d4e5f6a7b8c",
      "name": "Any Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
              "leftValue": "={{ $json.account_name }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "d6a4f5b7-b18e-4d0f-c2a3-4e5f6a7b8c9d",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        900,
        220
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "rows",
        "options": {}
      }
    },
    {
      "id": "e7b5a6c8-c29f-4e1a-d3b4-5f6a7b8c9d0e",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        220
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-d5e6-4f7a-8b9c-0d1e2f3a4b5c",
              "name": "message",
              "value": "=:rotating_light: *Daily Aging Tickets Report* -- Open/Pending > 7 days\n:calendar: *Run date:* {{ $now.toFormat('dd MMM yyyy') }}\n\n{{ $json.rows.map(r => '*' + r.account_name + '*' + (r.account_segment ? ' (' + r.account_segment + ')' : '') + ' -- ' + r.ticket_count + ' ticket' + (r.ticket_count > 1 ? 's' : '') + ' -- Oldest: ' + (r.oldest_ticket_date ? r.oldest_ticket_date.substring(0, 10) : 'N/A') + (r.assignees ? ' -- Agents: ' + r.assignees : '')).join('\\n') }}\n\n*Total: {{ $json.rows.reduce((s, r) => s + Number(r.ticket_count), 0) }} tickets across {{ $json.rows.length }} accounts*",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f8c6b7d9-d3a0-4f2b-e4c5-6a7b8c9d0e1f",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1340,
        220
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "a9d7c8e0-e4b1-4a3c-f5d6-7b8c9d0e1f2a",
      "name": "No Aging Tickets",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": ":white_check_mark: *Daily Aging Tickets Report* -- No open/pending tickets older than 7 days today!",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Any Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Results?": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}