feedback-loop/candidates/cx/harvested_cx_016_workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-4a7b-8c9d-1e2f3a4b5c6d",
              "name": "sendTo",
              "value": "={{ ($json.to || '').trim() }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-4b8c-9d0e-2f3a4b5c6d7e",
              "name": "ccList",
              "value": "={{ ($json.cc || '').trim() }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-4c9d-0e1f-3a4b5c6d7e8f",
              "name": "subject",
              "value": "={{ $json.subject || 'Guesty Billing' }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-4d0e-1f2a-4b5c6d7e8f9a",
              "name": "messageHtml",
              "value": "={{ $json.body }}",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-c9d0-4e1f-2a3b-5c6d7e8f9a0b",
              "name": "attachmentKeys",
              "value": "={{ Object.keys($binary || {}).join(',') }}",
              "type": "string"
            },
            {
              "id": "f6a7b8c9-d0e1-4f2a-3b4c-6d7e8f9a0b1c",
              "name": "hasAttachments",
              "value": "={{ Object.keys($binary || {}).length > 0 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "9a0b1c2d-e3f4-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Validate and Normalize Inputs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9b8c7d6-e5f4-4a3b-2c1d-0e9f8a7b6c5d",
              "leftValue": "={{ $json.sendTo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        0
      ],
      "id": "b8c7d6e5-f4a3-4b2c-1d0e-9f8a7b6c5d4e",
      "name": "Guard - sendTo not empty"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.messageHtml }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $json.attachmentKeys }}"
              }
            ]
          },
          "ccList": "={{ $json.ccList }}",
          "sendTo": "={{ $json.sendTo }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        -80
      ],
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Create Gmail Draft",
      "credentials": {
        "gmailOAuth2": {
          "id": "4BConxQW0qmylDKE",
          "name": "Gmail - cx_automations@guesty.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7d6e5f4-a3b2-4c1d-0e9f-8a7b6c5d4e3f",
              "name": "automation_status",
              "value": "DRAFT CREATED",
              "type": "string"
            },
            {
              "id": "d6e5f4a3-b2c1-4d0e-9f8a-7b6c5d4e3f2a",
              "name": "draftId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e5f4a3b2-c1d0-4e9f-8a7b-6c5d4e3f2a1b",
              "name": "attachmentCount",
              "value": "={{ $('Validate and Normalize Inputs').item.json.attachmentKeys ? $('Validate and Normalize Inputs').item.json.attachmentKeys.split(',').filter(k => k !== '').length : 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        -80
      ],
      "id": "f4a3b2c1-d0e9-4f8a-7b6c-5d4e3f2a1b0c",
      "name": "Return Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3b2c1d0-e9f8-4a7b-6c5d-4e3f2a1b0c9e",
              "name": "automation_status",
              "value": "DRAFT SKIPPED - NO RECIPIENT",
              "type": "string"
            },
            {
              "id": "b2c1d0e9-f8a7-4b6c-5d4e-3f2a1b0c9e8f",
              "name": "draftId",
              "value": "",
              "type": "string"
            },
            {
              "id": "c1d0e9f8-a7b6-4c5d-4e3f-2a1b0c9e8f7a",
              "name": "attachmentCount",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        120
      ],
      "id": "d0e9f8a7-b6c5-4d4e-3f2a-1b0c9e8f7a6b",
      "name": "Return Skipped"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate and Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Normalize Inputs": {
      "main": [
        [
          {
            "node": "Guard - sendTo not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard - sendTo not empty": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}