feedback-loop/candidates/cx/harvested_cx_011_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "all_attendee_emails",
        "options": {
          "destinationFieldName": "email",
          "delimiter": ","
        }
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Split Attendees",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -7680,
        -1296
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
              "leftValue": "={{ $json.email.trim() }}",
              "rightValue": "@guesty.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d594a2f-1b8e-4c91-b6d3-8f2e1a0c7b45",
      "name": "Filter External",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -7488,
        -1296
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "query": "=SELECT Id, Name, Main_Contact_Email__c, Guesty_Admin_ID__c, (SELECT FirstName, LastName, Email FROM Contacts WHERE Email != null) FROM Account WHERE Main_Contact_Email__c = '{{ $json.email.trim() }}' OR Id IN (SELECT AccountId FROM Contact WHERE Email = '{{ $json.email.trim() }}') LIMIT 1"
      },
      "id": "9b1e4f2a-6c3d-4e8b-a1f5-2d7c0b9e3a16",
      "name": "Find SF Account",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -7296,
        -1296
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "fCB6gfK7EaGpMnZy",
          "name": "Salesforce Production Read"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4d8e1f3-9b2c-4a7d-b6e5-1c3f8d2a0e94",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2e7b4a9-5f1d-4b8c-9e3a-6d0f2c8b1e47",
      "name": "Filter No Match",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -7104,
        -1296
      ]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "e8a3c6f1-2d9b-4e7a-b5c4-0f1d3e8a2c69",
      "name": "First Match Only",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -6912,
        -1296
      ]
    }
  ],
  "connections": {
    "Split Attendees": {
      "main": [
        [
          {
            "node": "Filter External",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter External": {
      "main": [
        [
          {
            "node": "Find SF Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find SF Account": {
      "main": [
        [
          {
            "node": "Filter No Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter No Match": {
      "main": [
        [
          {
            "node": "First Match Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Match Only": {
      "main": [
        [
          {
            "node": "Get Account Analytics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}