feedback-loop/candidates/cx/harvested_cx_003_workflow.json
{
  "name": "Zendesk Upsell Intent Detector",
  "nodes": [
    {
      "id": "d3c5bcf9-2081-4e4f-a3f6-8be4359b5296",
      "name": "Daily 10am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "8609b5bb-1c7e-4d53-8a2d-8f9ba2beaeba",
      "name": "Fetch Recent Zendesk Tickets",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "ticketType": "regular",
        "returnAll": false,
        "limit": 100,
        "options": {
          "query": "={{ 'created>' + $now.minus({hours:24}).toFormat('yyyy-MM-dd') + ' type:ticket' }}",
          "sortBy": "created_at",
          "sortOrder": "desc"
        }
      },
      "credentials": {
        "zendeskApi": {
          "id": "OTFp18SnDgGUSn9u",
          "name": "Zendesk Sandbox - Info@guesty"
        }
      }
    },
    {
      "id": "4a6ae024-7374-479f-83d2-4804c1a2b3fc",
      "name": "Classify Upsell Intent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        720,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Ticket ID: ' + $json.id + '\\nSubject: ' + $json.subject + '\\nDescription: ' + $json.description }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a customer success analyst at a property management software company. Analyze the support ticket below and determine if the customer is expressing upsell intent -- meaning they are asking about upgrades, higher-tier plans, new features, additional seats, expanded capabilities, or pricing for more advanced options. Return ONLY a valid JSON object with no markdown, no code fences, no explanation. Format: {\"upsell_intent\": true or false, \"confidence\": 0-100, \"reason\": \"brief one-sentence explanation\"}"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ 'Ticket ID: ' + $json.id + '\\nSubject: ' + $json.subject + '\\nDescription: ' + $json.description }}"
            }
          ]
        }
      }
    },
    {
      "id": "771d7d6f-edb2-454c-8e19-32b3c52ed07e",
      "name": "Gemini LM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "JrzPwNiVhZibKlAr",
          "name": "Google Gemini Guesty n8n CX"
        }
      }
    },
    {
      "id": "5012646a-2f4d-4627-8b41-e7df26d90305",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
              "name": "ticket_id",
              "value": "={{ $('Fetch Recent Zendesk Tickets').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
              "name": "subject",
              "value": "={{ $('Fetch Recent Zendesk Tickets').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "3e4a5b6c-7d8e-4f9a-b0c1-d2e3f4a5b6c7",
              "name": "account_name",
              "value": "={{ $('Fetch Recent Zendesk Tickets').item.json.organization_name || $('Fetch Recent Zendesk Tickets').item.json.via.source.from.name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "9f0a1b2c-3d4e-4f5a-b6c7-d8e9f0a1b2c3",
              "name": "ticket_url",
              "value": "={{ 'https://guesty.zendesk.com/agent/tickets/' + $('Fetch Recent Zendesk Tickets').item.json.id }}",
              "type": "string"
            },
            {
              "id": "1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d",
              "name": "upsell_intent",
              "value": "={{ JSON.parse($json.text).upsell_intent }}",
              "type": "boolean"
            },
            {
              "id": "6e7f8a9b-0c1d-4e2f-a3b4-c5d6e7f8a9b0",
              "name": "confidence",
              "value": "={{ JSON.parse($json.text).confidence }}",
              "type": "number"
            },
            {
              "id": "2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6e",
              "name": "reason",
              "value": "={{ JSON.parse($json.text).reason }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "12faa02b-aae9-4f13-94f0-aeee51bff798",
      "name": "Upsell Intent Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1a2b3d4-e5f6-4a7b-8c9d-1e2f3a4b5c6d",
              "leftValue": "={{ $json.upsell_intent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "a3b4c5d6-e7f8-4a9b-0c1d-2e3f4a5b6c7d",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1440,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-upsell-opportunities"
        },
        "text": "={{ ':rocket: *Upsell Opportunity Detected*\\n\\n*Ticket ID:* <' + $json.ticket_url + '|#' + $json.ticket_id + '>\\n*Subject:* ' + $json.subject + '\\n*Account:* ' + $json.account_name + '\\n*AI Confidence:* ' + $json.confidence + '%\\n*Reason:* ' + $json.reason }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 10am UTC": {
      "main": [
        [
          {
            "node": "Fetch Recent Zendesk Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Zendesk Tickets": {
      "main": [
        [
          {
            "node": "Classify Upsell Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini LM": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Upsell Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify Upsell Intent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Upsell Intent Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsell Intent Detected?": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}