feedback-loop/candidates/cx/harvested_cx_005_workflow.json
{
  "name": "Daily Stale Ticket Reminder - 14 Days",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Daily 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3f4d5e6f7a",
      "name": "Get Stale Open Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "projectId": {
          "mode": "id",
          "value": "guesty-data"
        },
        "operation": "executeQuery",
        "sqlQuery": "SELECT\n  ticket_id,\n  subject,\n  account_name,\n  assignee_email,\n  updated_at\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status = 'open'\n  AND updated_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 14 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\nORDER BY updated_at ASC"
      },
      "credentials": {
        "googleApi": {
          "id": "2EJkTXIICSEva3cQ",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a7d-4c9e-b1f2-3d4a5e6f7b8c",
      "name": "Add Internal Note",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "resource": "ticket",
        "operation": "update",
        "id": "={{ $json.ticket_id }}",
        "jsonParameters": false,
        "updateFields": {
          "internalNote": "Auto-reminder: This ticket has been open for 14+ days. Please review and update."
        }
      },
      "credentials": {
        "zendeskApi": {
          "id": "OTFp18SnDgGUSn9u",
          "name": "Zendesk Sandbox - Info@guesty"
        }
      }
    },
    {
      "id": "d6a4f5b7-1b8e-4d0f-c2a3-4e5b6f7c8d9e",
      "name": "Count Tickets",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "countUnique",
              "field": "ticket_id"
            }
          ]
        }
      }
    },
    {
      "id": "e7b5a6c8-2c9f-4e1a-d3b4-5f6c7d8e9f0a",
      "name": "Post Slack Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-ticket-hygiene"
        },
        "text": "=:ticket: *14-Day Open Ticket Reminder -- Daily Run*\n*Tickets commented on:* {{ $json['countUnique(ticket_id)'] }}\n_Run time: {{ $now.toFormat('yyyy-MM-dd HH:mm') }} UTC_"
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 8am UTC": {
      "main": [
        [
          {
            "node": "Get Stale Open Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stale Open Tickets": {
      "main": [
        [
          {
            "node": "Add Internal Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Internal Note": {
      "main": [
        [
          {
            "node": "Count Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Tickets": {
      "main": [
        [
          {
            "node": "Post Slack Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}