feedback-loop/candidates/cx/harvested_cx_001_workflow.json
{
  "name": "CX Aging Tickets Daily Report",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Every Day at 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  account_segment,\n  COUNT(ticket_id) AS ticket_count,\n  MIN(created_at) AS oldest_ticket_date,\n  STRING_AGG(DISTINCT assignee_name ORDER BY assignee_name LIMIT 3) AS assignees\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status IN ('open', 'pending')\n  AND created_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\n  AND account_name IS NOT NULL\nGROUP BY account_name, account_segment\nORDER BY ticket_count DESC\nLIMIT 100"
      },
      "credentials": {
        "googleApi": {
          "id": "vWwsUUkc4EYrtsmN",
          "name": "Google BigQuery account 3"
        }
      }
    },
    {
      "id": "3d594a5e-1b2f-4c8e-9f1a-6b7e8d9c0a1b",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\n\nif (!rows || rows.length === 0) {\n  return [{ json: { message: ':white_check_mark: *Aging Tickets Report* -- No open/pending tickets older than 7 days. All clear!' } }];\n}\n\nconst today = new Date().toISOString().slice(0, 10);\nconst totalAccounts = rows.length;\nconst totalTickets = rows.reduce((sum, r) => sum + Number(r.json.ticket_count || 0), 0);\n\nlet lines = [];\nlines.push(':clock3: *Aging Tickets Report* -- Open/Pending > 7 days');\nlines.push('Date: ' + today + ' | Run at 09:00 UTC');\nlines.push('');\nlines.push('*Account* | *Segment* | *Tickets* | *Oldest Ticket* | *Assignees*');\nlines.push('---------|-----------|-----------|-----------------|------------');\n\nfor (const row of rows) {\n  const name = row.json.account_name || 'Unknown';\n  const segment = row.json.account_segment || '-';\n  const count = row.json.ticket_count || 0;\n  const oldest = row.json.oldest_ticket_date\n    ? String(row.json.oldest_ticket_date).slice(0, 10)\n    : '-';\n  const assignees = row.json.assignees || '-';\n  lines.push(name + ' | ' + segment + ' | ' + count + ' | ' + oldest + ' | ' + assignees);\n}\n\nlines.push('');\nlines.push('*Total:* ' + totalTickets + ' aging tickets across ' + totalAccounts + ' accounts');\n\nreturn [{ json: { message: lines.join('\\n') } }];"
      }
    },
    {
      "id": "9a1b2c3d-4e5f-6789-abcd-ef0123456789",
      "name": "Post to #cx-aging-tickets",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Every Day at 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to #cx-aging-tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}