feedback-loop/candidates/cx/harvested_cx_004_workflow.json
{
  "name": "CX Aging Tickets - Daily Slack Report",
  "nodes": [
    {
      "id": "a3f1c2d4-8e7b-4a9f-b6c1-2d3e4f5a6b7c",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f8c-4b0a-c7d2-3e4f5a6b7c8d",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  account_segment,\n  COUNT(ticket_id) AS ticket_count,\n  MIN(created_at) AS oldest_ticket_date,\n  STRING_AGG(DISTINCT assignee_name ORDER BY assignee_name LIMIT 3) AS assignees\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status IN ('open', 'pending')\n  AND created_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\n  AND account_name IS NOT NULL\nGROUP BY account_name, account_segment\nORDER BY ticket_count DESC\nLIMIT 100",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "2EJkTXIICSEva3cQ",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a9d-4c1b-d8e3-4f5a6b7c8d9e",
      "name": "Check Has Results",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d1e2f3a4-b5c6-4d7e-8f9a-0b1c2d3e4f5a",
              "leftValue": "={{ $json.ticket_count }}",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "d6a4f5b7-1b0e-4d2c-e9f4-5a6b7c8d9e0f",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst today = new Date().toISOString().split('T')[0];\nconst totalTickets = items.reduce((sum, item) => sum + Number(item.json.ticket_count), 0);\nconst totalAccounts = items.length;\n\nlet rows = '';\nfor (const item of items) {\n  const d = item.json;\n  const rawDate = d.oldest_ticket_date;\n  const oldest = rawDate && rawDate.value ? rawDate.value.split('T')[0] : (rawDate ? String(rawDate).split('T')[0] : 'N/A');\n  const segment = d.account_segment || 'Unknown';\n  const assignees = d.assignees || 'Unassigned';\n  rows += `*${d.account_name}* (${segment}) -- ${d.ticket_count} ticket(s) -- oldest: ${oldest} -- agents: ${assignees}\\n`;\n}\n\nconst message = `:ticket: *CX Aging Tickets Report -- ${today}*\\n` +\n  `${totalAccounts} account(s) | ${totalTickets} open/pending ticket(s) older than 7 days\\n\\n` +\n  rows.trim();\n\nreturn [{ json: { message } }];"
      }
    },
    {
      "id": "e7b5a6c8-2c1f-4e3d-f0a5-6b7c8d9e0f1a",
      "name": "Post to #cx-aging-tickets",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "f8c6b7d9-3d2a-4f4e-a1b6-7c8d9e0f1a2b",
      "name": "Post All Clear",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": ":white_check_mark: No open or pending tickets older than 7 days today. All clear!",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Check Has Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Results": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post All Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to #cx-aging-tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}