feedback-loop/candidates/cx/harvested_cx_004_workflow.json
{
  "name": "CX Aging Tickets Daily Report",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Every Day at 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  account_segment,\n  COUNT(ticket_id) AS ticket_count,\n  MIN(created_at) AS oldest_ticket_date,\n  STRING_AGG(DISTINCT assignee_name ORDER BY assignee_name LIMIT 3) AS assignees\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status IN ('open', 'pending')\n  AND created_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\n  AND account_name IS NOT NULL\nGROUP BY account_name, account_segment\nORDER BY ticket_count DESC\nLIMIT 100",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "PAAimNTryrvB72dp",
          "name": "Google Service Account - CX translate"
        }
      }
    },
    {
      "id": "3d594a5e-1b2f-4c8e-9f1a-6b7e8d9c0a1b",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nconst output = [];\n\nif (!rows || rows.length === 0) {\n  output.push({ json: { message: ':white_check_mark: *Aging Tickets Report* -- No open/pending tickets older than 7 days today!' } });\n  return output;\n}\n\nconst today = new Date().toISOString().slice(0, 10);\n\nconst lines = rows.map(function(item) {\n  const r = item.json;\n  const accountName = r.account_name || 'Unknown';\n  const segment = r.account_segment ? ' (' + r.account_segment + ')' : '';\n  const count = Number(r.ticket_count);\n  const oldest = r.oldest_ticket_date ? String(r.oldest_ticket_date).slice(0, 10) : 'N/A';\n  const agents = r.assignees || 'Unassigned';\n  return '- *' + accountName + '*' + segment + ' -- ' + count + ' ticket' + (count > 1 ? 's' : '') + ' | Oldest: ' + oldest + ' | Agents: ' + agents;\n});\n\nconst total = rows.reduce(function(sum, item) {\n  return sum + Number(item.json.ticket_count || 0);\n}, 0);\n\nconst header = ':rotating_light: *Aging Tickets Report* -- Open/Pending > 7 days\\n:calendar: Run date: ' + today + ' | ' + rows.length + ' accounts | ' + total + ' total tickets';\n\nconst message = header + '\\n\\n' + lines.join('\\n');\n\noutput.push({ json: { message: message } });\nreturn output;"
      }
    },
    {
      "id": "9a1b2c3d-4e5f-6789-abcd-ef0123456789",
      "name": "Post to #cx-aging-tickets",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Every Day at 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to #cx-aging-tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}