feedback-loop/candidates/cx/harvested_cx_002_workflow.json
{
  "name": "Ticket Router - VIP vs Standard",
  "nodes": [
    {
      "id": "a3f1c2d4-8e5b-4a7c-9f0d-1b2e3c4d5e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-router",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "b4e2d3f5-9f6c-4b8d-a0e1-2c3f4d5e6f7a",
      "name": "Lookup Account in BigQuery",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "sqlQuery": "=SELECT\n  account_id,\n  account_name,\n  package AS plan_name,\n  avg_mrr AS mrr\nFROM `guesty-data.guesty_analytics.dim_accounts`\nWHERE account_id = '{{ $json.body.account_id }}'\nLIMIT 1",
        "projectId": "guesty-data",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "PAAimNTryrvB72dp",
          "name": "Google Service Account - CX translate"
        }
      }
    },
    {
      "id": "c5f3e4a6-a07d-4c9e-b1f2-3d4a5e6f7b8c",
      "name": "MRR Greater Than 5000?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d6a4f5b7-b18e-4d0f-c2a3-4e5b6f7c8d9e",
              "leftValue": "={{ $json.mrr }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      }
    },
    {
      "id": "e7b5a6c8-c29f-4e1a-d3b4-5f6c7d8e9f0a",
      "name": "Slack - VIP Ticket",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        160
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-vip-tickets"
        },
        "text": "=:star: *VIP Ticket Alert*\n\n*Account:* {{ $('Lookup Account in BigQuery').item.json.account_name }}\n*Plan:* {{ $('Lookup Account in BigQuery').item.json.plan_name }}\n*MRR:* ${{ $('Lookup Account in BigQuery').item.json.mrr }}\n*Ticket ID:* {{ $('Webhook').item.json.body.ticket_id }}\n*Priority:* {{ $('Webhook').item.json.body.priority }}\n*Subject:* {{ $('Webhook').item.json.body.subject }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      }
    },
    {
      "id": "f8c6b7d9-d3a0-4f2b-e4c5-6a7d8e9f0b1c",
      "name": "Slack - Standard Ticket",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        960,
        440
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-standard-tickets"
        },
        "text": "=:ticket: *New Ticket*\n\n*Account:* {{ $('Lookup Account in BigQuery').item.json.account_name }}\n*Plan:* {{ $('Lookup Account in BigQuery').item.json.plan_name }}\n*MRR:* ${{ $('Lookup Account in BigQuery').item.json.mrr }}\n*Ticket ID:* {{ $('Webhook').item.json.body.ticket_id }}\n*Priority:* {{ $('Webhook').item.json.body.priority }}\n*Subject:* {{ $('Webhook').item.json.body.subject }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lookup Account in BigQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Account in BigQuery": {
      "main": [
        [
          {
            "node": "MRR Greater Than 5000?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MRR Greater Than 5000?": {
      "main": [
        [
          {
            "node": "Slack - VIP Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Standard Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}