feedback-loop/candidates/cx/harvested_cx_008_workflow.json
{
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Read Countries from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        300
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "id",
          "value": "1XTkT0ClDT1DuCU4YEoFfeuMBmYFcXXi8v1ADylPv2FI"
        },
        "sheetName": {
          "mode": "name",
          "value": "2026 long"
        },
        "filtersUI": {},
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vkdgHYUQNhtG8jsq",
          "name": "Inbal - Google Sheets"
        }
      }
    },
    {
      "id": "3d594a8e-1b2f-4c6a-9f3e-8a7b5c2d1e0f",
      "name": "Loop Over Countries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a2f8b3c7-4d1e-4f9a-b6c2-7e8d9f0a1b2c",
      "name": "POST to Gemini Interactions API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/interactions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": \"Act as a professional travel and business analyst. Research events in {{ $json[\"name\"] }} for the next 6 months.\\n\\nFormat Requirements:\\n1. Executive Summary\\n2. Chronological List of Events (Table: Date | Name | Type | Description)\\n3. Sources & Citations\\n\\nConstraint: If specific dates are not confirmed, mark them as TBA.\",\n  \"agent\": \"deep-research-pro-preview-12-2025\",\n  \"background\": true\n}",
        "options": {
          "retry": {
            "enabled": true,
            "maxTries": 3,
            "waitBetweenTries": 10000
          }
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "JrzPwNiVhZibKlAr",
          "name": "Google Gemini Guesty n8n CX"
        }
      }
    },
    {
      "id": "b5e2c9d4-6f3a-4b8e-c1d7-9a0f2e3b4c5d",
      "name": "Write State to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1XTkT0ClDT1DuCU4YEoFfeuMBmYFcXXi8v1ADylPv2FI"
        },
        "sheetName": {
          "mode": "name",
          "value": "research_state"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "interaction_id": "={{ $json.interactionId }}",
            "country": "={{ $node[\"Read Countries from Sheet\"].json[\"name\"] }}",
            "status": "in_progress",
            "created_at": "={{ $now.toISO() }}",
            "report": "",
            "error": ""
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vkdgHYUQNhtG8jsq",
          "name": "Inbal - Google Sheets"
        }
      }
    },
    {
      "id": "c6f3d0e5-7a4b-4c9f-d2e8-0b1c3d4e5f6a",
      "name": "Wait 2 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        480
      ],
      "parameters": {
        "resume": "timeInterval",
        "unit": "seconds",
        "value": 2
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Countries from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Countries from Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Countries": {
      "main": [
        [
          {
            "node": "POST to Gemini Interactions API",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "POST to Gemini Interactions API": {
      "main": [
        [
          {
            "node": "Write State to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write State to Sheet": {
      "main": [
        [
          {
            "node": "Wait 2 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Seconds": {
      "main": [
        [
          {
            "node": "Loop Over Countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}