feedback-loop/candidates/cx/harvested_cx_002_workflow.json
{
  "name": "Daily Upsell Intent Detector - Zendesk + Gemini",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Daily 10am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Get Zendesk Tickets (Last 24h)",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "ticket",
        "operation": "getAll",
        "ticketType": "regular",
        "returnAll": true,
        "options": {
          "query": "updated_at>24hours"
        }
      },
      "credentials": {
        "zendeskApi": {
          "id": "OTFp18SnDgGUSn9u",
          "name": "Zendesk Sandbox - Info@guesty"
        }
      }
    },
    {
      "id": "8e1f2a3b-4c5d-6e7f-8a9b-0c1d2e3f4a5b",
      "name": "Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        680,
        500
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "JrzPwNiVhZibKlAr",
          "name": "Google Gemini Guesty n8n CX"
        }
      }
    },
    {
      "id": "3d594a5e-1b2f-4c8e-9f1a-2b3c4d5e6f7a",
      "name": "Classify Upsell Intent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        680,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Ticket ID: {{ $json.id }}\nSubject: {{ $json.subject }}\nDescription: {{ $json.description }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a customer success analyst at Guesty, a property management software company. Your job is to detect upsell intent in Zendesk support tickets.\n\nUpsell intent means the customer is asking about or expressing interest in: upgrading to a higher plan, adding more properties or listings, unlocking new features, requesting a demo of premium features, asking about pricing for additional seats or modules, or expanding their current subscription.\n\nAnalyze the ticket subject and description provided. Return ONLY a valid JSON object with no markdown, no code fences, and no extra text. The JSON must have exactly these fields:\n- upsell_intent: boolean (true if upsell intent detected, false otherwise)\n- confidence: string (high, medium, or low)\n- confidence_score: number between 0 and 100\n- reason: string (one sentence explaining your decision)"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Ticket ID: {{ $json.id }}\nSubject: {{ $json.subject }}\nDescription: {{ $json.description }}\n\nDoes this ticket contain upsell intent? Return JSON only."
            }
          ]
        },
        "hasOutputParser": false
      }
    },
    {
      "id": "9b2c3d4e-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "ticket_id",
              "value": "={{ $('Get Zendesk Tickets (Last 24h)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
              "name": "subject",
              "value": "={{ $('Get Zendesk Tickets (Last 24h)').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "name": "account_name",
              "value": "={{ $('Get Zendesk Tickets (Last 24h)').item.json.organization_id }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
              "name": "upsell_intent",
              "value": "={{ JSON.parse($json.text).upsell_intent }}",
              "type": "boolean"
            },
            {
              "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
              "name": "confidence",
              "value": "={{ JSON.parse($json.text).confidence }}",
              "type": "string"
            },
            {
              "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
              "name": "confidence_score",
              "value": "={{ JSON.parse($json.text).confidence_score }}",
              "type": "number"
            },
            {
              "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
              "name": "reason",
              "value": "={{ JSON.parse($json.text).reason }}",
              "type": "string"
            },
            {
              "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
              "name": "ticket_url",
              "value": "={{ 'https://guesty33961681113172.zendesk.com/agent/tickets/' + $('Get Zendesk Tickets (Last 24h)').item.json.id }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Upsell Intent Detected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
              "leftValue": "={{ $json.upsell_intent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      }
    },
    {
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-upsell-opportunities"
        },
        "messageType": "block",
        "blocksUi": {
          "blocksValues": [
            {
              "type": "section",
              "text": {
                "type": "mrkdwn",
                "text": "=:rocket: *Upsell Opportunity Detected*\n\n*Ticket:* <{{ $json.ticket_url }}|#{{ $json.ticket_id }}>\n*Subject:* {{ $json.subject }}\n*Account:* {{ $json.account_name }}\n*Confidence:* {{ $json.confidence }} ({{ $json.confidence_score }}%)\n*Reason:* {{ $json.reason }}"
              }
            }
          ]
        }
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 10am UTC": {
      "main": [
        [
          {
            "node": "Get Zendesk Tickets (Last 24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Zendesk Tickets (Last 24h)": {
      "main": [
        [
          {
            "node": "Classify Upsell Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Upsell Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify Upsell Intent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Upsell Intent Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsell Intent Detected?": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}