feedback-loop/candidates/cx/harvested_cx_011_workflow.json
{
  "name": "Email Open Pixel Tracker",
  "nodes": [
    {
      "id": "a3f1c2d4-8b7e-4f9a-b1c2-d3e4f5a6b7c8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "track-open-pixel-001",
      "parameters": {
        "httpMethod": "GET",
        "path": "track-open",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b4e2d3f5-9c8f-4a0b-c2d3-e4f5a6b7c8d9",
      "name": "Append to Email Opens Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        300
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "mode": "id",
          "value": "1GmQkwmlz0NSQZ9yj2kMui1vu_F4kior0UHNDEeV43eo"
        },
        "sheetName": {
          "mode": "name",
          "value": "Email Opens"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "csm_email": "={{ $json.query.csm }}",
            "batch_id": "={{ $json.query.bid }}",
            "user_agent": "={{ $json.headers['user-agent'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "csm_email",
              "displayName": "csm_email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_agent",
              "displayName": "user_agent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vkdgHYUQNhtG8jsq",
          "name": "Inbal - Google Sheets"
        }
      }
    },
    {
      "id": "c5f3e4a6-0d9a-4b1c-d3e4-f5a6b7c8d9e0",
      "name": "Return Pixel GIF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const gifBase64 = 'R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';\nconst buffer = Buffer.from(gifBase64, 'base64');\nreturn [{\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, 'pixel.gif', 'image/gif')\n  },\n  json: {}\n}];"
      }
    },
    {
      "id": "d6a4f5b7-1e0b-4c2d-e4f5-a6b7c8d9e0f1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "image/gif"
              },
              {
                "name": "Cache-Control",
                "value": "no-store, no-cache, must-revalidate, proxy-revalidate"
              },
              {
                "name": "Pragma",
                "value": "no-cache"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append to Email Opens Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Email Opens Sheet": {
      "main": [
        [
          {
            "node": "Return Pixel GIF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Pixel GIF": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}