feedback-loop/candidates/cx/harvested_cx_006_workflow.json
{
  "name": "CX Aging Tickets -- Daily Slack Report",
  "nodes": [
    {
      "id": "a3f1c2d4-8e7b-4a9f-b6c1-2d3e4f5a6b7c",
      "name": "Daily 9am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b4e2d3f5-9f8c-4b0a-c7d2-3e4f5a6b7c8d",
      "name": "Query Aging Tickets",
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        460,
        300
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "executeQuery",
        "projectId": "guesty-data",
        "sqlQuery": "SELECT\n  account_name,\n  account_segment,\n  COUNT(ticket_id) AS ticket_count,\n  MIN(created_at) AS oldest_ticket_date,\n  STRING_AGG(DISTINCT assignee_name ORDER BY assignee_name LIMIT 3) AS assignees\nFROM `guesty-data.zendesk_analytics.tickets_clean`\nWHERE ticket_status IN ('open', 'pending')\n  AND created_at <= TIMESTAMP_SUB(CURRENT_TIMESTAMP(), INTERVAL 7 DAY)\n  AND IFNULL(deleted, FALSE) = FALSE\n  AND account_name IS NOT NULL\nGROUP BY account_name, account_segment\nORDER BY ticket_count DESC\nLIMIT 100",
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "2EJkTXIICSEva3cQ",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "id": "c5f3e4a6-0a9d-4c1b-d8e3-4f5a6b7c8d9e",
      "name": "Any Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d6a4f5b7-1b0e-4d2c-e9f4-5a6b7c8d9e0f",
              "leftValue": "={{ $json.ticket_count }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "rightValue": 0
            }
          ]
        }
      }
    },
    {
      "id": "e7b5a6c8-2c1f-4e3d-f0a5-6b7c8d9e0f1a",
      "name": "Format Report Lines",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        180
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8c6b7d9-3d2a-4f4e-a1b6-7c8d9e0f1a2b",
              "name": "line",
              "value": "={{ '*' + $json.account_name + '*' + ($json.account_segment ? ' (' + $json.account_segment + ')' : '') + ' -- ' + $json.ticket_count + ' ticket' + ($json.ticket_count == 1 ? '' : 's') + ' | Oldest: ' + $json.oldest_ticket_date.substring(0, 10) + ($json.assignees ? ' | Agents: ' + $json.assignees : '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a9d7c8e0-4e3b-4a5f-b2c7-8d9e0f1a2b3c",
      "name": "Aggregate Lines",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        180
      ],
      "parameters": {
        "aggregate": "aggregateIndividualFields",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "line",
              "renameField": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b0e8d9f1-5f4c-4b6a-c3d8-9e0f1a2b3c4d",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        180
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1f9e0a2-6a5d-4c7b-d4e9-0f1a2b3c4d5e",
              "name": "message",
              "value": "={{ ':clock1: *Aging Tickets Report* -- open/pending > 7 days\\n:calendar: Run: ' + $now.toFormat('yyyy-MM-dd') + '\\n\\n' + $json.line.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d2a0f1b3-7b6e-4d8c-e5f0-1a2b3c4d5e6f",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1560,
        180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "e3b1a2c4-8c7f-4e9d-f6a1-2b3c4d5e6f7a",
      "name": "Post No Tickets Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        900,
        420
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "name",
          "value": "#cx-aging-tickets"
        },
        "text": "=:white_check_mark: *Aging Tickets Report* -- :calendar: {{ $now.toFormat('yyyy-MM-dd') }}\\nNo open or pending tickets older than 7 days. All clear!",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    }
  ],
  "connections": {
    "Daily 9am UTC": {
      "main": [
        [
          {
            "node": "Query Aging Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Aging Tickets": {
      "main": [
        [
          {
            "node": "Any Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Results?": {
      "main": [
        [
          {
            "node": "Format Report Lines",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post No Tickets Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report Lines": {
      "main": [
        [
          {
            "node": "Aggregate Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Lines": {
      "main": [
        [
          {
            "node": "Build Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}