feedback-loop/candidates/cx/harvested_cx_018_workflow.json
{
  "name": "CS Slack Bot - BigQuery Agent Q&A",
  "nodes": [
    {
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Slack Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "cs-slack-bq-agent",
      "parameters": {
        "httpMethod": "POST",
        "path": "cs-slack-bq-agent",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
      "name": "Is URL Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        470,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a3f1c2d4-e5b6-4789-9abc-def012345678",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "b2e3f4a5-c6d7-4890-abcd-ef1234567890",
      "name": "Respond to Slack Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        690,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}"
      }
    },
    {
      "id": "c3d4e5f6-a7b8-4901-bcde-f12345678901",
      "name": "Is Bot Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        690,
        420
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "d4e5f6a7-b8c9-4012-cdef-123456789012",
              "leftValue": "={{ $json.body.event.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "e5f6a7b8-c9d0-4123-def0-234567890123",
              "leftValue": "={{ $json.body.event.subtype }}",
              "rightValue": "bot_message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "f6a7b8c9-d0e1-4234-ef01-345678901234",
      "name": "Ignore Bot Message",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        910,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}"
      }
    },
    {
      "id": "a7b8c9d0-e1f2-4345-f012-456789012345",
      "name": "Acknowledge Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        910,
        540
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}"
      }
    },
    {
      "id": "c9d0e1f2-a3b4-4567-1234-678901234567",
      "name": "Call Vertex AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        540
      ],
      "parameters": {
        "method": "POST",
        "url": "https://discoveryengine.googleapis.com/v1alpha/projects/guesty-n8n/locations/global/dataAgents/agent_2427deb1-a2e2-4988-9326-b7cd4fe58106:query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleServiceAccountApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"text\": {{ JSON.stringify($('Is Bot Message?').item.json.body.event.text) }},\n    \"queryId\": {{ JSON.stringify($('Is Bot Message?').item.json.body.event.ts) }}\n  },\n  \"session\": \"projects/guesty-n8n/locations/global/dataAgents/agent_2427deb1-a2e2-4988-9326-b7cd4fe58106/sessions/-\",\n  \"safeSearch\": true\n}",
        "options": {}
      },
      "credentials": {
        "googleServiceAccountApi": {
          "id": "2EJkTXIICSEva3cQ",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "id": "d0e1f2a3-b4c5-4678-2345-789012345678",
      "name": "Extract Agent Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1350,
        540
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1f2a3b4-c5d6-4789-3456-890123456789",
              "name": "answer",
              "value": "={{ $json.reply?.reply ?? $json.answer ?? $json.summary ?? 'Sorry, I could not find an answer to your question.' }}",
              "type": "string"
            },
            {
              "id": "f2a3b4c5-d6e7-4890-4567-901234567890",
              "name": "channel",
              "value": "={{ $('Is Bot Message?').item.json.body.event.channel }}",
              "type": "string"
            },
            {
              "id": "a3b4c5d6-e7f8-4901-5678-012345678901",
              "name": "thread_ts",
              "value": "={{ $('Is Bot Message?').item.json.body.event.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c5d6e7f8-a9b0-4123-7890-234567890123",
      "name": "Post Answer to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1570,
        540
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "={{ $json.channel }}"
        },
        "text": "={{ $json.answer }}",
        "otherOptions": {
          "thread_ts": "={{ $json.thread_ts }}"
        }
      },
      "credentials": {
        "slackApi": {
          "id": "RdxjTWVc6DaiNrIY",
          "name": "Slack account - BotToken"
        }
      }
    }
  ],
  "connections": {
    "Slack Event Webhook": {
      "main": [
        [
          {
            "node": "Is URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is URL Verification?": {
      "main": [
        [
          {
            "node": "Respond to Slack Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Bot Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot Message?": {
      "main": [
        [
          {
            "node": "Ignore Bot Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Slack": {
      "main": [
        [
          {
            "node": "Call Vertex AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Vertex AI Agent": {
      "main": [
        [
          {
            "node": "Extract Agent Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Agent Answer": {
      "main": [
        [
          {
            "node": "Post Answer to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}